openapi: 3.1.0
info:
  title: Phasio Activity Internal Manufacturer Color Controller API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Manufacturer Color Controller
  description: Endpoints for retrieving color options for manufactured parts
paths:
  /api/manufacturer/v1/color/{colorId}:
    get:
      tags:
      - Manufacturer Color Controller
      summary: Get color by ID
      description: Retrieves a specific color by its unique identifier
      operationId: getById_8
      parameters:
      - name: colorId
        in: path
        description: ID of the color to retrieve
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Color found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ColorDto'
        '404':
          description: Color not found
components:
  schemas:
    ColorDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        code:
          type: string
      required:
      - code
      - id
      - name
  securitySchemes:
    Phasio API Bearer Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
