openapi: 3.1.0
info:
  title: Phasio Activity Internal Inbound Email Controller API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Inbound Email Controller
  description: Endpoints for handling incoming emails to the system
paths:
  /api/internal/v1/inbound-email:
    put:
      tags:
      - Inbound Email Controller
      summary: Process inbound email
      description: Processes an incoming email and associates it with a thread or creates a new thread
      operationId: onEmailReceived
      parameters:
      - name: fromEmail
        in: query
        description: Email address of the sender
        required: true
        schema:
          type: string
      - name: subject
        in: query
        description: Subject line of the email
        required: true
        schema:
          type: string
      - name: body
        in: query
        description: Body content of the email
        required: true
        schema:
          type: string
      - name: threadId
        in: query
        description: ID of an existing thread to associate the email with (optional)
        required: false
        schema:
          type: integer
          format: int64
      - name: spf
        in: query
        description: Whether the email passed SPF authentication
        required: true
        schema:
          type: boolean
      - name: dkim
        in: query
        description: Whether the email passed DKIM authentication
        required: true
        schema:
          type: boolean
      - name: notSpam
        in: query
        description: Whether the email was determined to be legitimate (not spam)
        required: true
        schema:
          type: boolean
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                attachments:
                  type: array
                  description: Files attached to the email (optional)
                  items:
                    type: string
                    format: binary
      responses:
        '204':
          description: Email successfully processed
        '400':
          description: Invalid request data or operator not found
        '401':
          description: Unauthorized - missing or invalid authentication
components:
  securitySchemes:
    Phasio API Bearer Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
