openapi: 3.1.0
info:
  title: Phasio Activity Internal Customer Country Controller API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Customer Country Controller
  description: Endpoints for retrieving country and jurisdiction information
paths:
  /api/customer/v1/countries:
    get:
      tags:
      - Customer Country Controller
      summary: Get all countries
      description: Retrieves a list of all available countries with their ISO codes
      operationId: get_30
      responses:
        '200':
          description: Successfully retrieved countries
          content:
            application/json:
              schema:
                type: string
  /api/customer/v1/countries/{country}/jurisdictions:
    get:
      tags:
      - Customer Country Controller
      summary: Get jurisdictions by country
      description: Retrieves all jurisdictions (states, provinces, etc.) for a specific country
      operationId: getJurisdictions_1
      parameters:
      - name: country
        in: path
        description: Country code or name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully retrieved jurisdictions
          content:
            application/json:
              schema:
                type: string
        '404':
          description: Country not found
components:
  securitySchemes:
    Phasio API Bearer Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
