openapi: 3.2.0
info:
  title: Phasio Manufacturer Activity Controller API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Manufacturer Activity Controller
  description: Endpoints for managing manufacturer activities and conversations
paths:
  /api/manufacturer/v1/activity/thread/{threadId}:
    get:
      tags:
      - Manufacturer Activity Controller
      summary: Get activities by thread ID
      description: Retrieves all activities associated with the specified thread
      operationId: getByThread
      parameters:
      - name: threadId
        in: path
        description: Thread ID to retrieve activities for
        required: true
        schema:
          type: integer
          format: int64
        example: 123
      - name: excludeArchivedAndVoided
        in: query
        description: Exclude activities from archived or voided orders
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successfully retrieved thread activities
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActivityDto'
        '400':
          description: Invalid thread ID or operator not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized - missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Thread not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
components:
  schemas:
    ApiError:
      type: object
      additionalProperties: true
      description: Stable error contract. `error` is a SCREAMING_SNAKE code that clients match on; `message` is a human-readable sentence. Some errors add extra string fields (for example organisationId).
      properties:
        error:
          type: string
          example: ORDER_NOT_FOUND
        message:
          type: string
          example: Order not found
      required:
      - error
      - message
    ActivityDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        threadId:
          type: integer
          format: int64
        activityType:
          type: string
        createdAt:
          type: string
          format: date-time
      required:
      - activityType
      - createdAt
      - id
      - threadId
  securitySchemes:
    Phasio_API_Bearer_Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
