openapi: 3.1.0
info:
  title: Phasio Activity Internal Manufacturer Shipping Box Controller API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Manufacturer Shipping Box Controller
  description: Endpoints for managing shipping box dimensions used for shipments
paths:
  /api/manufacturer/v1/shipping-box:
    post:
      tags:
      - Manufacturer Shipping Box Controller
      summary: Create shipping box
      description: Creates a new shipping box with specified dimensions
      operationId: createShippingBox
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateShippingBoxDto'
        required: true
      responses:
        '200':
          description: Shipping box created successfully
          content:
            application/json:
              schema:
                type: integer
                format: int64
        '400':
          description: Invalid shipping box data
        '401':
          description: Unauthorized - operator not found
    patch:
      tags:
      - Manufacturer Shipping Box Controller
      summary: Update shipping box
      description: Updates an existing shipping box dimensions
      operationId: updateShippingBox
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateShippingBoxDto'
        required: true
      responses:
        '204':
          description: Shipping box updated successfully
        '400':
          description: Invalid update data or shipping box not found
  /api/manufacturer/v1/shipping-box/{shippingBoxId}:
    get:
      tags:
      - Manufacturer Shipping Box Controller
      summary: Get shipping box by ID
      description: Retrieves a specific shipping box by its ID
      operationId: getShippingBox
      parameters:
      - name: shippingBoxId
        in: path
        description: ID of the shipping box to retrieve
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Shipping box retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShippingBoxDto'
        '404':
          description: Shipping box not found
    delete:
      tags:
      - Manufacturer Shipping Box Controller
      summary: Delete shipping box
      description: Deletes an existing shipping box
      operationId: deleteShippingBox
      parameters:
      - name: shippingBoxId
        in: path
        description: ID of the shipping box to delete
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: Shipping box deleted successfully
        '400':
          description: Delete failed or shipping box not found
  /api/manufacturer/v1/shipping-box/operator:
    get:
      tags:
      - Manufacturer Shipping Box Controller
      summary: Get all shipping boxes for operator
      description: Retrieves all shipping boxes associated with the current operator
      operationId: getShippingBoxes
      responses:
        '200':
          description: Shipping boxes retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShippingBoxDto'
        '401':
          description: Unauthorized - operator not found
components:
  schemas:
    UpdateShippingBoxDto:
      type: object
      description: Updated shipping box data
      properties:
        shippingBoxId:
          type: integer
          format: int64
        length:
          type: number
        width:
          type: number
        height:
          type: number
      required:
      - height
      - length
      - shippingBoxId
      - width
    CreateShippingBoxDto:
      type: object
      description: Shipping box data to create
      properties:
        name:
          type: string
        length:
          type: number
        width:
          type: number
        height:
          type: number
      required:
      - height
      - length
      - name
      - width
    ShippingBoxDto:
      type: object
      properties:
        shippingBoxId:
          type: integer
          format: int64
        name:
          type: string
        length:
          type: number
        width:
          type: number
        height:
          type: number
        unit:
          type: string
      required:
      - height
      - length
      - name
      - shippingBoxId
      - unit
      - width
  securitySchemes:
    Phasio API Bearer Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
