openapi: 3.1.0
info:
  title: Phasio Activity Internal Internal Order Controller API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Internal Order Controller
  description: Endpoints for internal order processing operations
paths:
  /api/internal/v1/order/payment:
    patch:
      tags:
      - Internal Order Controller
      summary: Update order payment status
      description: Updates the payment status of an order (e.g., pending, paid, failed)
      operationId: updatePaymentStatus
      parameters:
      - name: orderId
        in: query
        description: ID of the order to update
        required: true
        schema:
          type: integer
          format: int64
      - name: status
        in: query
        description: New payment status to set
        required: true
        schema:
          type: string
          enum:
          - UNPAID
          - IN_PROGRESS
          - FAILED
          - REFUNDED
          - CONFIRMED
          - PAID
      responses:
        '200':
          description: Payment status successfully updated
        '400':
          description: Invalid order ID or payment status
        '404':
          description: Order not found
components:
  securitySchemes:
    Phasio API Bearer Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
