openapi: 3.1.0
info:
  title: Phasio Activity Internal Manufacturer Programmatic Client Controller API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Manufacturer Programmatic Client Controller
  description: Endpoints for managing manufacturer programmatic clients
paths:
  /api/manufacturer/v1/programmatic-client:
    get:
      tags:
      - Manufacturer Programmatic Client Controller
      summary: Get all clients
      description: Retrieves a list of all programmatic clients for the current operator
      operationId: getAllClients
      responses:
        '200':
          description: Client information retrieved successfully
          content:
            application/json: {}
        '404':
          description: Operator not found
    put:
      tags:
      - Manufacturer Programmatic Client Controller
      summary: Create a new programmatic client
      description: Creates a new programmatic client for the current operator
      operationId: create
      parameters:
      - name: keyName
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Client created successfully
          content:
            application/json: {}
        '404':
          description: Operator not found
components:
  securitySchemes:
    Phasio API Bearer Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
