openapi: 3.1.0
info:
  title: Phasio Activity Internal Customer Part Design Controller API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Customer Part Design Controller
  description: API for customers to access their part designs
paths:
  /api/customer/v1/part-design:
    get:
      tags:
      - Customer Part Design Controller
      summary: Get all part designs
      description: Retrieves all part designs for the current customer organization
      operationId: getAll
      responses:
        '200':
          description: Successfully retrieved part designs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PartDesignDto'
        '401':
          description: Unauthorized - missing customer or operator context
components:
  schemas:
    PartDesignDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        revisions:
          type: array
          items:
            type: string
            format: uuid
        createdAt:
          type: string
          format: date-time
      required:
      - createdAt
      - id
      - name
      - revisions
  securitySchemes:
    Phasio API Bearer Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
