openapi: 3.1.0
info:
  title: Phasio Activity Internal Manufacturer Infill Controller API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Manufacturer Infill Controller
  description: Endpoints for managing 3D printing infill options and configurations
paths:
  /api/manufacturer/v1/infill/create:
    post:
      tags:
      - Manufacturer Infill Controller
      summary: Create infill option
      description: Creates a new infill option for 3D printing with specified density value
      operationId: createInfill
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInfillDto'
        required: true
      responses:
        '200':
          description: Infill option successfully created
          content:
            application/json:
              schema:
                type: integer
                format: int64
        '400':
          description: Invalid infill data
        '401':
          description: Unauthorized - operator not found
  /api/manufacturer/v1/infill/{infillId}/default:
    patch:
      tags:
      - Manufacturer Infill Controller
      summary: Set infill option as default
      description: Sets an infill option as the default for its pricing group
      operationId: selectDefaultInfill
      parameters:
      - name: infillId
        in: path
        description: ID of the infill option to set as default
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: Infill option successfully set as default
        '400':
          description: Invalid infill ID or operation failed
  /api/manufacturer/v1/infill/update:
    patch:
      tags:
      - Manufacturer Infill Controller
      summary: Update infill option
      description: Updates an existing infill option's properties
      operationId: updateInfill
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInfillDto'
        required: true
      responses:
        '204':
          description: Infill option successfully updated
        '400':
          description: Invalid update data or infill not found
  /api/manufacturer/v1/infill/{infillId}:
    get:
      tags:
      - Manufacturer Infill Controller
      summary: Get infill by ID
      description: Retrieves a specific infill option by its unique identifier
      operationId: getById_7
      parameters:
      - name: infillId
        in: path
        description: ID of the infill option to retrieve
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Infill found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfillDto'
        '404':
          description: Infill not found
    delete:
      tags:
      - Manufacturer Infill Controller
      summary: Delete infill option
      description: Deletes an existing infill option
      operationId: deleteInfill
      parameters:
      - name: infillId
        in: path
        description: ID of the infill option to delete
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: Infill option successfully deleted
        '400':
          description: Invalid infill ID or deletion failed
components:
  schemas:
    InfillDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        value:
          type: number
        default:
          type: boolean
      required:
      - default
      - id
      - name
      - value
    CreateInfillDto:
      type: object
      description: Infill creation details
      properties:
        technology:
          type: string
        pricingGroupId:
          type: string
          format: uuid
        organisationId:
          type: integer
          format: int64
        name:
          type: string
        value:
          type: number
        effectiveFrom:
          type: string
          format: date
      required:
      - effectiveFrom
      - name
      - pricingGroupId
      - technology
      - value
    UpdateInfillDto:
      type: object
      description: Infill update details
      properties:
        infillId:
          type: integer
          format: int64
        name:
          type: string
        value:
          type: number
        effectiveFrom:
          type: string
          format: date
      required:
      - effectiveFrom
      - infillId
      - name
      - value
  securitySchemes:
    Phasio API Bearer Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
