openapi: 3.2.0
info:
  title: Phasio Webhooks API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Webhooks
  description: Endpoints for managing webhooks
paths:
  /api/manufacturer/v1/webhook:
    get:
      tags:
      - Webhooks
      summary: Retrieve all webhooks
      description: Retrieves a collection of all webhooks associated with an account
      operationId: getWebhooks
      responses:
        '200':
          description: Webhooks retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookDto'
        '400':
          description: Bad Request - missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    post:
      tags:
      - Webhooks
      summary: Create a webhook
      description: Creates a webhook for one event type on the authenticated account. The URL must use HTTPS and resolve to a public address. Save the returned id for deletion and secret for decrypting deliveries. Deliveries contain a JSON payload field encrypted with AES-256-GCM and an X-Phasio-Signature HMAC-SHA256 header.
      operationId: createWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookDto'
        required: true
      responses:
        '200':
          description: Webhook successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDto'
        '400':
          description: INVALID_WEBHOOK - Invalid webhook data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/manufacturer/v1/webhook/{id}:
    delete:
      tags:
      - Webhooks
      summary: Delete a webhook
      description: Deletes an existing webhook on an account
      operationId: deleteWebhook
      parameters:
      - name: id
        in: path
        description: ID of the webhook to delete
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Webhook successfully deleted
        '400':
          description: Bad Request - missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
components:
  schemas:
    ApiError:
      type: object
      additionalProperties: true
      description: Stable error contract. `error` is a SCREAMING_SNAKE code that clients match on; `message` is a human-readable sentence. Some errors add extra string fields (for example organisationId).
      properties:
        error:
          type: string
          example: ORDER_NOT_FOUND
        message:
          type: string
          example: Order not found
      required:
      - error
      - message
    CreateWebhookDto:
      type: object
      properties:
        url:
          type: string
          description: Public HTTPS URL that will receive webhook deliveries
        type:
          type: string
          description: Event to subscribe to; ORDER means order created
          enum:
          - ORDER
          - REVISION
          - ORDER_UPDATED
          - QUOTE_CONVERTED
          - CUSTOMER_ORGANISATION_CREATED
          - CUSTOMER_ORGANISATION_UPDATED
          - SPECIFICATION_CREATED
          - WORKFLOW_PROGRESS_PARTS
          - CART_CREATED
          - CART_UPDATED
          - CUSTOMER_COMMENTED
          - MANUFACTURER_COMMENTED
      required:
      - type
      - url
    WebhookDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        url:
          type: string
        type:
          type: string
        secret:
          type: string
      required:
      - id
      - secret
      - type
      - url
  securitySchemes:
    Phasio_API_Bearer_Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
