openapi: 3.1.0
info:
  title: Phasio Activity Internal Manufacturer Kanban Column Controller API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Manufacturer Kanban Column Controller
  description: Endpoints for managing Kanban board columns for order processing workflow
paths:
  /api/manufacturer/v1/kanban-column:
    get:
      tags:
      - Manufacturer Kanban Column Controller
      summary: Get Kanban columns
      description: Retrieves all Kanban columns for the current operator, optionally filtered by order status
      operationId: get_9
      parameters:
      - name: orderStatus
        in: query
        description: Order status to filter Kanban columns by (optional)
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Kanban columns successfully retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/KanbanColumnDto'
        '401':
          description: Unauthorized - operator not found
    post:
      tags:
      - Manufacturer Kanban Column Controller
      summary: Create Kanban column
      description: Creates a new Kanban column for the order processing workflow
      operationId: create_12
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateKanbanColumnDto'
        required: true
      responses:
        '200':
          description: Kanban column successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KanbanColumnDto'
        '400':
          description: Invalid Kanban column data
        '401':
          description: Unauthorized - operator not found
  /api/manufacturer/v1/kanban-column/{id}:
    delete:
      tags:
      - Manufacturer Kanban Column Controller
      summary: Delete Kanban column
      description: Deletes an existing Kanban column
      operationId: delete_10
      parameters:
      - name: id
        in: path
        description: ID of the Kanban column to delete
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Kanban column successfully deleted
        '400':
          description: Invalid Kanban column ID or deletion failed
    patch:
      tags:
      - Manufacturer Kanban Column Controller
      summary: Update Kanban column
      description: Updates an existing Kanban column's properties
      operationId: update_15
      parameters:
      - name: id
        in: path
        description: ID of the Kanban column to update
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateKanbanColumnDto'
        required: true
      responses:
        '200':
          description: Kanban column successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KanbanColumnDto'
        '400':
          description: Invalid update data or Kanban column not found
components:
  schemas:
    KanbanColumnAutomationDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        kanbanColumnId:
          type: string
          format: uuid
        type:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
      - createdAt
      - id
      - kanbanColumnId
      - type
      - updatedAt
    UpdateKanbanColumnDto:
      type: object
      description: Kanban column update details
      properties:
        name:
          type: string
        sequence:
          type: integer
          format: int32
        orderStatus:
          type: string
        automations:
          type: array
          items:
            type: string
    CreateKanbanColumnDto:
      type: object
      description: Kanban column creation details
      properties:
        name:
          type: string
        sequence:
          type: integer
          format: int32
        orderStatus:
          type: string
        automations:
          type: array
          items:
            type: string
      required:
      - automations
      - name
      - orderStatus
      - sequence
    KanbanColumnDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        sequence:
          type: integer
          format: int32
        orderStatus:
          type: string
        automations:
          type: array
          items:
            $ref: '#/components/schemas/KanbanColumnAutomationDto'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
      - automations
      - createdAt
      - id
      - name
      - orderStatus
      - sequence
      - updatedAt
  securitySchemes:
    Phasio API Bearer Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
