openapi: 3.2.0
info:
  title: Phasio Manufacturer Work Order Controller API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Manufacturer Work Order Controller
  description: Manage individual work orders, including downstream routing mutations
paths:
  /api/manufacturer/v1/work-orders/{id}/routing:
    patch:
      tags:
      - Manufacturer Work Order Controller
      operationId: updateRouting
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkOrderRoutingRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WorkOrderDto'
      summary: Update routing
      x-summary-source: derived
  /api/manufacturer/v1/work-orders/{id}/dates:
    patch:
      tags:
      - Manufacturer Work Order Controller
      summary: Update a work order's start and due dates
      description: Sets the start date (when the work order enters the backlog) and the due date (explicit deadline; null falls back to the order's expected dispatch date).
      operationId: updateDates
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkOrderDatesRequest'
        required: true
      responses:
        '200':
          description: Successfully updated the work order dates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkOrderDto'
        '404':
          description: Work order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '409':
          description: The work order has started; a future start date would hide partially completed parts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
components:
  schemas:
    RoutingStepDto:
      type: object
      properties:
        operationId:
          type: string
          format: uuid
        sequence:
          type: integer
          format: int32
        statusId:
          type: string
          format: uuid
      required:
      - operationId
      - sequence
      - statusId
    UpdateWorkOrderRoutingRequest:
      type: object
      properties:
        steps:
          type: array
          items:
            $ref: '#/components/schemas/WorkOrderRoutingStepInput'
      required:
      - steps
    UpdateWorkOrderDatesRequest:
      type: object
      properties:
        startDate:
          type: string
          format: date-time
        dueDate:
          type: string
          format: date-time
      required:
      - startDate
    WorkOrderDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workOrderNumber:
          type: integer
          format: int64
        routingTemplateId:
          type: string
          format: uuid
        name:
          type: string
        quantity:
          type: integer
        routing:
          type: array
          items:
            $ref: '#/components/schemas/RoutingStepDto'
        createdAt:
          type: string
          format: date-time
        startDate:
          type: string
          format: date-time
        dueDate:
          type: string
          format: date-time
      required:
      - createdAt
      - id
      - quantity
      - routing
      - startDate
    WorkOrderRoutingStepInput:
      type: object
      properties:
        operationId:
          type: string
          format: uuid
        sequence:
          type: integer
          format: int32
      required:
      - operationId
      - sequence
    ApiError:
      type: object
      additionalProperties: true
      description: Stable error contract. `error` is a SCREAMING_SNAKE code that clients match on; `message` is a human-readable sentence. Some errors add extra string fields (for example organisationId).
      properties:
        error:
          type: string
          example: ORDER_NOT_FOUND
        message:
          type: string
          example: Order not found
      required:
      - error
      - message
  securitySchemes:
    Phasio_API_Bearer_Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
