openapi: 3.2.0
info:
  title: Phasio Manufacturer Reports API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Manufacturer Reports
  description: Endpoints for downloadable manufacturer reports
paths:
  /api/manufacturer/v1/reports/orders/download:
    get:
      tags:
      - Manufacturer Reports
      operationId: downloadOrders
      parameters:
      - name: filter
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/OrderReportFilterDto'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/StreamingResponseBody'
      summary: Download orders
      x-summary-source: derived
    post:
      tags:
      - Manufacturer Reports
      operationId: downloadOrders_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderReportDownloadRequestDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/StreamingResponseBody'
      summary: Download orders 1
      x-summary-source: derived
  /api/manufacturer/v1/reports/customers/download:
    get:
      tags:
      - Manufacturer Reports
      operationId: downloadCustomers
      parameters:
      - name: filter
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/CustomerReportFilterDto'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/StreamingResponseBody'
      summary: Download customers
      x-summary-source: derived
    post:
      tags:
      - Manufacturer Reports
      operationId: downloadCustomers_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerReportDownloadRequestDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/StreamingResponseBody'
      summary: Download customers 1
      x-summary-source: derived
  /api/manufacturer/v1/reports/orders/estimate:
    get:
      tags:
      - Manufacturer Reports
      operationId: estimateOrders
      parameters:
      - name: filter
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/OrderReportFilterDto'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrderReportEstimateDto'
      summary: Estimate orders
      x-summary-source: derived
  /api/manufacturer/v1/reports/orders/columns:
    get:
      tags:
      - Manufacturer Reports
      operationId: listOrderColumns
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrderReportColumnsDto'
      summary: List order columns
      x-summary-source: derived
  /api/manufacturer/v1/reports/customers/estimate:
    get:
      tags:
      - Manufacturer Reports
      operationId: estimateCustomers
      parameters:
      - name: filter
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/CustomerReportFilterDto'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CustomerReportEstimateDto'
      summary: Estimate customers
      x-summary-source: derived
  /api/manufacturer/v1/reports/customers/columns:
    get:
      tags:
      - Manufacturer Reports
      operationId: listCustomerColumns
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CustomerReportColumnsDto'
      summary: List customer columns
      x-summary-source: derived
components:
  schemas:
    OrderReportEstimateDto:
      type: object
      properties:
        estimatedOrderRows:
          type: integer
          format: int64
        estimatedLineItemRows:
          type: integer
          format: int64
        estimatedWorkbookRows:
          type: integer
          format: int64
      required:
      - estimatedLineItemRows
      - estimatedOrderRows
      - estimatedWorkbookRows
    OrderReportDownloadRequestDto:
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/OrderReportFilterDto'
        format:
          type: string
      required:
      - filters
      - format
    OrderReportFilterDto:
      type: object
      properties:
        from:
          type: string
          format: date
        to:
          type: string
          format: date
        orderIds:
          type: array
          items:
            type: integer
            format: int64
        customerOrganisationId:
          type: integer
          format: int64
        threadId:
          type: integer
          format: int64
        customerType:
          type: string
        source:
          type: string
        paymentStatus:
          type: string
        paymentStatuses:
          type: array
          items:
            type: string
        includeArchived:
          type: boolean
        searchQuery:
          type: string
        orderColumns:
          type: array
          items:
            type: string
        lineItemColumns:
          type: array
          items:
            type: string
      required:
      - includeArchived
    OrderReportColumnsDto:
      type: object
      properties:
        orderColumns:
          type: array
          items:
            $ref: '#/components/schemas/OrderReportColumnDto'
        lineItemColumns:
          type: array
          items:
            $ref: '#/components/schemas/OrderReportColumnDto'
      required:
      - lineItemColumns
      - orderColumns
    StreamingResponseBody: {}
    OrderReportColumnDto:
      type: object
      properties:
        key:
          type: string
        label:
          type: string
        description:
          type: string
      required:
      - description
      - key
      - label
    CustomerReportEstimateDto:
      type: object
      properties:
        estimatedCustomerRows:
          type: integer
          format: int64
        estimatedWorkbookRows:
          type: integer
          format: int64
      required:
      - estimatedCustomerRows
      - estimatedWorkbookRows
    CustomerReportColumnsDto:
      type: object
      properties:
        columns:
          type: array
          items:
            $ref: '#/components/schemas/OrderReportColumnDto'
      required:
      - columns
    CustomerReportFilterDto:
      type: object
      properties:
        filter:
          type: string
        searchQuery:
          type: string
        columns:
          type: array
          items:
            type: string
    CustomerReportDownloadRequestDto:
      type: object
      properties:
        filters:
          $ref: '#/components/schemas/CustomerReportFilterDto'
        format:
          type: string
      required:
      - filters
      - format
  securitySchemes:
    Phasio_API_Bearer_Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
