openapi: 3.1.0
info:
  title: Phasio Activity Internal Manufacturer Countries Controller API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Manufacturer Countries Controller
paths:
  /api/manufacturer/v1/countries:
    get:
      tags:
      - Manufacturer Countries Controller
      operationId: get_25
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DMZCountryDto'
  /api/manufacturer/v1/countries/{country}/jurisdictions:
    get:
      tags:
      - Manufacturer Countries Controller
      operationId: getJurisdictions
      parameters:
      - name: country
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DMZJurisdictionDto'
components:
  schemas:
    DMZJurisdictionDto:
      type: object
      properties:
        country:
          type: string
        name:
          type: string
        iso:
          type: string
      required:
      - country
      - iso
      - name
    DMZCountryDto:
      type: object
      properties:
        country:
          type: string
        name:
          type: string
        alpha2Code:
          type: string
        alpha3Code:
          type: string
      required:
      - alpha2Code
      - alpha3Code
      - country
      - name
  securitySchemes:
    Phasio API Bearer Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
