openapi: 3.2.0
info:
  title: Phasio Manufacturer Thread File Controller API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Manufacturer Thread File Controller
  description: API for managing files attached to threads
paths:
  /api/manufacturer/v1/thread-file/{fileId}:
    get:
      tags:
      - Manufacturer Thread File Controller
      summary: Download a thread file
      description: Downloads a file attached to a thread by its ID
      operationId: download
      parameters:
      - name: fileId
        in: path
        description: ID of the file to download
        required: true
        schema:
          type: string
          format: uuid
        example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: File downloaded successfully
          content:
            application/octet-stream: {}
        '401':
          description: Unauthorized - missing operator context
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: 'File not found (error code: THREAD_FILE_NOT_FOUND)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
components:
  schemas:
    ApiError:
      type: object
      additionalProperties: true
      description: Stable error contract. `error` is a SCREAMING_SNAKE code that clients match on; `message` is a human-readable sentence. Some errors add extra string fields (for example organisationId).
      properties:
        error:
          type: string
          example: ORDER_NOT_FOUND
        message:
          type: string
          example: Order not found
      required:
      - error
      - message
  securitySchemes:
    Phasio_API_Bearer_Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
