openapi: 3.2.0
info:
  title: Phasio Manufacturer Requisition Controller API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Manufacturer Requisition Controller
  description: API for managing part requisitions and production batches
paths:
  /api/manufacturer/v1/requisition/work-orders:
    post:
      tags:
      - Manufacturer Requisition Controller
      summary: Create work orders
      description: Creates a new work order for every part and quantity in the request
      operationId: createWorkOrder
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ScheduleBatchesDto'
        required: true
      responses:
        '200':
          description: Successfully created work orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BatchBalanceDto'
        '400':
          description: Failed to create work orders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/manufacturer/v1/requisition/batch-status:
    post:
      tags:
      - Manufacturer Requisition Controller
      summary: Create production batches
      description: 'Creates production batches for the specified parts and quantities. Idempotent: parts whose work order is already in production are skipped'
      operationId: createBatchesLegacy
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ScheduleBatchesDto'
        required: true
      responses:
        '200':
          description: Successfully created production batches
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BatchBalanceDto'
        '400':
          description: Failed to create production batches
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/manufacturer/v1/requisition/create-batches:
    post:
      tags:
      - Manufacturer Requisition Controller
      summary: Create production batches
      description: 'Creates production batches for the specified parts and quantities. Idempotent: parts whose work order is already in production are skipped'
      operationId: createBatchesLegacy_1
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ScheduleBatchesDto'
        required: true
      responses:
        '200':
          description: Successfully created production batches
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BatchBalanceDto'
        '400':
          description: Failed to create production batches
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/manufacturer/v1/requisition/{id}:
    get:
      tags:
      - Manufacturer Requisition Controller
      summary: Get requisition by ID
      description: Retrieves a specific requisition by its ID
      operationId: get_4
      parameters:
      - name: id
        in: path
        description: ID of the requisition to retrieve
        required: true
        schema:
          type: integer
          format: int64
        example: 1
      responses:
        '200':
          description: Successfully retrieved requisition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequisitionDto'
        '404':
          description: 'Requisition not found (error code: REQUISITION_NOT_FOUND)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/manufacturer/v1/requisition/order:
    get:
      tags:
      - Manufacturer Requisition Controller
      summary: Get requisitions by order ID
      description: Retrieves all requisitions for the specified order
      operationId: getByOrder
      parameters:
      - name: orderId
        in: query
        description: ID of the order to filter by
        required: true
        schema:
          type: integer
          format: int64
        example: 1
      responses:
        '200':
          description: Successfully retrieved requisitions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RequisitionDto'
components:
  schemas:
    PostProcessingVariablesDto:
      type: object
      properties:
        postProcessingId:
          type: integer
          format: int64
        variables:
          type: object
          additionalProperties:
            type: number
      required:
      - postProcessingId
      - variables
    RoutingStepDto:
      type: object
      properties:
        operationId:
          type: string
          format: uuid
        sequence:
          type: integer
          format: int32
        statusId:
          type: string
          format: uuid
      required:
      - operationId
      - sequence
      - statusId
    BatchBalanceDto:
      type: object
      properties:
        operationId:
          type: string
          format: uuid
        operationName:
          type: string
        sequence:
          type: integer
          format: int64
        requisitionId:
          type: integer
          format: int64
        workOrderId:
          type: string
          format: uuid
        processPricesId:
          type: string
          format: uuid
        materialId:
          type: integer
          format: int64
        colorId:
          type: integer
          format: int64
        dispatchDate:
          type: string
          format: date
        workOrderStartDate:
          type: string
          format: date-time
        workOrderDueDate:
          type: string
          format: date-time
        requisitionDuration:
          type: integer
        quantity:
          type: integer
        stepId:
          type: string
          format: uuid
        groupId:
          type: string
        prefix:
          type: string
        stepType:
          type: string
        orderId:
          type: integer
          format: int64
        orderNumber:
          type: integer
          format: int64
        threadId:
          type: integer
          format: int64
        purchaseOrderNumber:
          type: string
        commentCount:
          type: integer
          format: int64
        closedAt:
          type: string
          format: date-time
        outstandingAt:
          type: string
          format: date-time
        batchStatusId:
          type: string
          format: uuid
        batchStatusName:
          type: string
      required:
      - batchStatusId
      - batchStatusName
      - commentCount
      - groupId
      - materialId
      - operationId
      - operationName
      - outstandingAt
      - prefix
      - processPricesId
      - quantity
      - requisitionId
      - sequence
      - stepId
      - stepType
      - workOrderId
      - workOrderStartDate
    WorkOrderDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workOrderNumber:
          type: integer
          format: int64
        routingTemplateId:
          type: string
          format: uuid
        name:
          type: string
        quantity:
          type: integer
        routing:
          type: array
          items:
            $ref: '#/components/schemas/RoutingStepDto'
        createdAt:
          type: string
          format: date-time
        startDate:
          type: string
          format: date-time
        dueDate:
          type: string
          format: date-time
      required:
      - createdAt
      - id
      - quantity
      - routing
      - startDate
    RequisitionDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        partSpecificationId:
          type: string
          format: uuid
        partRevisionId:
          type: string
          format: uuid
        orderId:
          type: integer
          format: int64
        orderNumber:
          type: string
        customReference:
          type: string
        customerOrganisationId:
          type: integer
          format: int64
        customerOrganisationName:
          type: string
        pricingType:
          type: string
        manualPrice:
          type: number
        pricePaid:
          type: number
        quantity:
          type: integer
        createdAt:
          type: string
          format: date-time
        lastUpdated:
          type: string
          format: date-time
        leadTimeId:
          type: string
          format: uuid
        workOrders:
          type: array
          items:
            $ref: '#/components/schemas/WorkOrderDto'
        variables:
          type: object
          additionalProperties:
            type: number
        postProcessingVariables:
          type: array
          items:
            $ref: '#/components/schemas/PostProcessingVariablesDto'
        duration:
          type: integer
        name:
          type: string
        sequence:
          type: integer
          format: int32
      required:
      - createdAt
      - id
      - lastUpdated
      - name
      - orderId
      - orderNumber
      - partRevisionId
      - partSpecificationId
      - postProcessingVariables
      - pricingType
      - quantity
      - sequence
      - variables
      - workOrders
    ScheduleBatchesDto:
      type: object
      properties:
        requisitionId:
          type: integer
          format: int64
        quantity:
          type: integer
        name:
          type: string
        routingTemplateId:
          type: string
          format: uuid
        operationIds:
          type: array
          items:
            type: string
            format: uuid
        startDate:
          type: string
          format: date-time
        dueDate:
          type: string
          format: date-time
      required:
      - quantity
      - requisitionId
    ApiError:
      type: object
      additionalProperties: true
      description: Stable error contract. `error` is a SCREAMING_SNAKE code that clients match on; `message` is a human-readable sentence. Some errors add extra string fields (for example organisationId).
      properties:
        error:
          type: string
          example: ORDER_NOT_FOUND
        message:
          type: string
          example: Order not found
      required:
      - error
      - message
  securitySchemes:
    Phasio_API_Bearer_Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
