openapi: 3.1.0
info:
  title: Phasio Activity Internal Customer Activity Controller API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Customer Activity Controller
  description: Endpoints for managing customer communications and activity
paths:
  /api/customer/v1/activity:
    post:
      tags:
      - Customer Activity Controller
      summary: Create activity
      description: Creates a new activity such as a conversation or comment
      operationId: create_24
      requestBody:
        content:
          application/json:
            schema:
              description: Activity data to create
              oneOf:
              - $ref: '#/components/schemas/CreateConversationDto'
        required: true
      responses:
        '200':
          description: Activity successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityDto'
        '400':
          description: Invalid request data
        '401':
          description: Unauthorized - missing or invalid authentication
  /api/customer/v1/activity/{id}:
    get:
      tags:
      - Customer Activity Controller
      summary: Get activity by ID
      description: Retrieves a specific activity by its unique identifier
      operationId: get_31
      parameters:
      - name: id
        in: path
        description: ID of the activity to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Activity successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityDto'
        '401':
          description: Unauthorized - missing or invalid authentication
        '404':
          description: Activity not found
  /api/customer/v1/activity/thread/{threadId}:
    get:
      tags:
      - Customer Activity Controller
      summary: Get activities by thread
      description: Retrieves all activities associated with a specific thread
      operationId: getByThread_2
      parameters:
      - name: threadId
        in: path
        description: ID of the thread
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Activities successfully retrieved
          content:
            application/json:
              schema:
                type: string
        '401':
          description: Unauthorized - missing or invalid authentication
components:
  schemas:
    CreateActivityDto:
      type: object
      properties:
        activityType:
          type: string
        threadId:
          type: integer
          format: int64
      required:
      - activityType
      - threadId
    RequisitionTaggedDto:
      type: object
      properties:
        requisitionId:
          type: integer
          format: int64
      required:
      - requisitionId
    LocationTaggedDto:
      type: object
      properties:
        requisitionId:
          type: integer
          format: int64
        locationX:
          type: number
        locationY:
          type: number
        locationZ:
          type: number
        cameraPositionX:
          type: number
        cameraPositionY:
          type: number
        cameraPositionZ:
          type: number
        cameraRotationX:
          type: number
        cameraRotationY:
          type: number
        cameraRotationZ:
          type: number
      required:
      - cameraPositionX
      - cameraPositionY
      - cameraPositionZ
      - cameraRotationX
      - cameraRotationY
      - cameraRotationZ
      - locationX
      - locationY
      - locationZ
      - requisitionId
    ActivityDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        threadId:
          type: integer
          format: int64
        activityType:
          type: string
        createdAt:
          type: string
          format: date-time
      required:
      - activityType
      - createdAt
      - id
      - threadId
    CreateConversationDto:
      allOf:
      - $ref: '#/components/schemas/CreateActivityDto'
      - type: object
        properties:
          conversationType:
            type: string
          message:
            type: string
          requisitionTagged:
            $ref: '#/components/schemas/RequisitionTaggedDto'
          locationTagged:
            $ref: '#/components/schemas/LocationTaggedDto'
          orderId:
            type: integer
            format: int64
      required:
      - activityType
      - conversationType
      - message
      - threadId
  securitySchemes:
    Phasio API Bearer Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
