openapi: 3.1.0
info:
  title: Phasio Activity Internal Manufacturer Payment Information Controller API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Manufacturer Payment Information Controller
  description: Endpoints for managing operator payment information and settings
paths:
  /api/manufacturer/v1/operator/payment-information/update:
    post:
      tags:
      - Manufacturer Payment Information Controller
      summary: Update operator payment information
      description: Updates payment information settings for the current operator
      operationId: updateOperatorPaymentInformation
      requestBody:
        content:
          application/json:
            schema:
              type: array
              description: Payment information update details
              items:
                $ref: '#/components/schemas/UpdateOperatorPaymentInformationDto'
        required: true
      responses:
        '200':
          description: Payment information successfully updated
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
                  format: int64
        '400':
          description: Invalid payment information data
        '401':
          description: Unauthorized - operator not found
  /api/manufacturer/v1/operator/payment-information:
    get:
      tags:
      - Manufacturer Payment Information Controller
      summary: Get all operator payment information
      description: Retrieves all payment information settings for the current operator
      operationId: getOperatorPaymentInformationList
      responses:
        '200':
          description: Payment information successfully retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OperatorPaymentInformationDto'
        '401':
          description: Unauthorized - operator not found
  /api/manufacturer/v1/operator/payment-information/{paymentInformationId}:
    get:
      tags:
      - Manufacturer Payment Information Controller
      summary: Get operator payment information by ID
      description: Retrieves a specific payment information setting by its ID
      operationId: getOperatorPaymentInformation
      parameters:
      - name: paymentInformationId
        in: path
        description: ID of the payment information to retrieve
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Payment information successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperatorPaymentInformationDto'
        '400':
          description: Payment information not found
  /api/manufacturer/v1/operator/payment-information/{paymentInformationId}/delete:
    delete:
      tags:
      - Manufacturer Payment Information Controller
      summary: Delete operator payment information
      description: Deletes a specific payment information setting
      operationId: deleteOperatorPaymentInformation
      parameters:
      - name: paymentInformationId
        in: path
        description: ID of the payment information to delete
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: Payment information successfully deleted
        '400':
          description: Invalid payment information ID or deletion failed
components:
  schemas:
    UpdateOperatorPaymentInformationDto:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
      required:
      - name
      - value
    OperatorPaymentInformationDto:
      type: object
      properties:
        paymentInformationId:
          type: integer
          format: int64
        name:
          type: string
        value:
          type: string
      required:
      - name
      - paymentInformationId
      - value
  securitySchemes:
    Phasio API Bearer Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
