openapi: 3.1.0
info:
  title: Phasio Activity Internal API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Activity Internal
  description: Internal API for activity operations including conversation creation
paths:
  /api/internal/v1/activity/conversation:
    post:
      tags:
      - Activity Internal
      summary: Create new conversations
      description: Creates new conversations, as either the customer or manufacturer
      operationId: create_18
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConversationDto'
        required: true
      responses:
        '200':
          description: Conversation successfully created
        '400':
          description: Invalid conversation data or operator not found
        '401':
          description: Unauthorized - missing or invalid authentication
  /api/internal/v1/activity/thread/{threadId}/organisation:
    get:
      tags:
      - Activity Internal
      summary: Get thread organisation ID
      description: Retrieves the organisation ID associated with a specific thread
      operationId: getThreadOrganisationId
      parameters:
      - name: threadId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Successfully retrieved organisation ID
          content:
            '*/*':
              schema:
                type: integer
                format: int64
        '404':
          description: Thread not found
        '401':
          description: Unauthorized - missing or invalid authentication
components:
  schemas:
    CreateActivityDto:
      type: object
      properties:
        activityType:
          type: string
        threadId:
          type: integer
          format: int64
      required:
      - activityType
      - threadId
    LocationTaggedDto:
      type: object
      properties:
        requisitionId:
          type: integer
          format: int64
        locationX:
          type: number
        locationY:
          type: number
        locationZ:
          type: number
        cameraPositionX:
          type: number
        cameraPositionY:
          type: number
        cameraPositionZ:
          type: number
        cameraRotationX:
          type: number
        cameraRotationY:
          type: number
        cameraRotationZ:
          type: number
      required:
      - cameraPositionX
      - cameraPositionY
      - cameraPositionZ
      - cameraRotationX
      - cameraRotationY
      - cameraRotationZ
      - locationX
      - locationY
      - locationZ
      - requisitionId
    RequisitionTaggedDto:
      type: object
      properties:
        requisitionId:
          type: integer
          format: int64
      required:
      - requisitionId
    CreateConversationDto:
      allOf:
      - $ref: '#/components/schemas/CreateActivityDto'
      - type: object
        properties:
          conversationType:
            type: string
          message:
            type: string
          requisitionTagged:
            $ref: '#/components/schemas/RequisitionTaggedDto'
          locationTagged:
            $ref: '#/components/schemas/LocationTaggedDto'
          orderId:
            type: integer
            format: int64
      required:
      - activityType
      - conversationType
      - message
      - threadId
  securitySchemes:
    Phasio API Bearer Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
