openapi: 3.1.0
info:
  title: Phasio Activity Internal webhook-resource API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: webhook-resource
paths:
  /api/internal/v1/webhook:
    get:
      tags:
      - webhook-resource
      operationId: getWebhooks_1
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExistingWebhook'
    post:
      tags:
      - webhook-resource
      operationId: createWebhook_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExistingWebhook'
  /api/internal/v1/webhook/{id}:
    delete:
      tags:
      - webhook-resource
      operationId: deleteWebhook_1
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExistingWebhook'
components:
  schemas:
    ExistingWebhook:
      type: object
      properties:
        webhookId:
          type: string
          format: uuid
        operatorId:
          type: integer
          format: int64
        webhookUrl:
          type: string
        webhookType:
          type: string
        webhookSecret:
          type: string
      required:
      - operatorId
      - webhookId
      - webhookSecret
      - webhookType
      - webhookUrl
    CreateWebhookDto:
      type: object
      properties:
        url:
          type: string
        type:
          type: string
      required:
      - type
      - url
  securitySchemes:
    Phasio API Bearer Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
