openapi: 3.2.0
info:
  title: Phasio Manufacturer Precision Prices Controller API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Manufacturer Precision Prices Controller
  description: Endpoints for managing precision prices for manufacturing operations
paths:
  /api/manufacturer/v1/precision-prices/{precisionPricesId}:
    get:
      tags:
      - Manufacturer Precision Prices Controller
      summary: Get precision prices by ID
      description: Retrieves a specific precision price entry by its unique identifier
      operationId: getById_2
      parameters:
      - name: precisionPricesId
        in: path
        description: ID of the precision prices to retrieve
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Precision prices found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrecisionPricesDto'
        '404':
          description: Precision prices not found (PRECISION_PRICES_NOT_FOUND)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
components:
  schemas:
    PrecisionPricesDto:
      type: object
      properties:
        precisionPricesId:
          type: integer
          format: int64
        operatorId:
          type: integer
          format: int64
        technology:
          type: string
        name:
          type: string
        price:
          type: number
        isActive:
          type: boolean
        effectiveFrom:
          type: string
          format: date
        isDeleted:
          type: boolean
    ApiError:
      type: object
      additionalProperties: true
      description: Stable error contract. `error` is a SCREAMING_SNAKE code that clients match on; `message` is a human-readable sentence. Some errors add extra string fields (for example organisationId).
      properties:
        error:
          type: string
          example: ORDER_NOT_FOUND
        message:
          type: string
          example: Order not found
      required:
      - error
      - message
  securitySchemes:
    Phasio_API_Bearer_Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
