openapi: 3.1.0
info:
  title: Phasio Activity Internal Manufacturer Work Order Controller API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Manufacturer Work Order Controller
  description: Manage individual work orders, including downstream routing mutations
paths:
  /api/manufacturer/v1/work-orders/{id}/parts:
    post:
      tags:
      - Manufacturer Work Order Controller
      summary: Add parts to a work order
      description: Schedules more parts into an existing work order's first operation. Always additive, distinct from the idempotent bulk schedule path.
      operationId: addParts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPartsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WorkOrderDto'
  /api/manufacturer/v1/work-orders/{id}/routing:
    patch:
      tags:
      - Manufacturer Work Order Controller
      operationId: updateRouting
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkOrderRoutingRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WorkOrderDto'
components:
  schemas:
    RoutingStepDto:
      type: object
      properties:
        operationId:
          type: string
          format: uuid
        sequence:
          type: integer
          format: int32
        statusId:
          type: string
          format: uuid
      required:
      - operationId
      - sequence
      - statusId
    UpdateWorkOrderRoutingRequest:
      type: object
      properties:
        steps:
          type: array
          items:
            $ref: '#/components/schemas/WorkOrderRoutingStepInput'
      required:
      - steps
    WorkOrderDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workOrderNumber:
          type: integer
          format: int64
        routingTemplateId:
          type: string
          format: uuid
        name:
          type: string
        quantity:
          type: integer
        routing:
          type: array
          items:
            $ref: '#/components/schemas/RoutingStepDto'
        createdAt:
          type: string
          format: date-time
      required:
      - createdAt
      - id
      - quantity
      - routing
    WorkOrderRoutingStepInput:
      type: object
      properties:
        operationId:
          type: string
          format: uuid
        sequence:
          type: integer
          format: int32
      required:
      - operationId
      - sequence
    AddPartsRequest:
      type: object
      properties:
        quantity:
          type: integer
        name:
          type: string
      required:
      - quantity
  securitySchemes:
    Phasio API Bearer Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
