openapi: 3.2.0
info:
  title: Phasio Manufacturer Infill Controller API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Manufacturer Infill Controller
  description: Endpoints for managing 3D printing infill options and configurations
paths:
  /api/manufacturer/v1/infill/{infillId}:
    get:
      tags:
      - Manufacturer Infill Controller
      summary: Get infill by ID
      description: Retrieves a specific infill option by its unique identifier
      operationId: getById_7
      parameters:
      - name: infillId
        in: path
        description: ID of the infill option to retrieve
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Infill found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfillDto'
        '404':
          description: Infill not found (INFILL_NOT_FOUND)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
components:
  schemas:
    InfillDto:
      type: object
      properties:
        infillId:
          type: integer
          format: int64
        name:
          type: string
        value:
          type: number
        effectiveFrom:
          type: string
          format: date
        default:
          type: boolean
        isDeleted:
          type: boolean
      required:
      - default
      - effectiveFrom
      - infillId
      - isDeleted
      - name
      - value
    ApiError:
      type: object
      additionalProperties: true
      description: Stable error contract. `error` is a SCREAMING_SNAKE code that clients match on; `message` is a human-readable sentence. Some errors add extra string fields (for example organisationId).
      properties:
        error:
          type: string
          example: ORDER_NOT_FOUND
        message:
          type: string
          example: Order not found
      required:
      - error
      - message
  securitySchemes:
    Phasio_API_Bearer_Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
