openapi: 3.1.0
info:
  title: Phasio Activity Internal Manufacturer Part Design Controller API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Manufacturer Part Design Controller
  description: API for managing part designs
paths:
  /api/manufacturer/v1/part-design/{designId}:
    get:
      tags:
      - Manufacturer Part Design Controller
      summary: Get specific design details
      description: Retrieves a specific part design by its ID
      operationId: getById_1
      parameters:
      - name: designId
        in: path
        description: ID of the design to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successfully retrieved part design
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartDesignDto'
        '404':
          description: Design not found
        '401':
          description: Unauthorized - missing operator context
    patch:
      tags:
      - Manufacturer Part Design Controller
      summary: Update design
      description: Updates design properties like name
      operationId: update_11
      parameters:
      - name: designId
        in: path
        description: ID of the design to update
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartDesignUpdateRequestDto'
        required: true
      responses:
        '200':
          description: Successfully updated design
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartDesignDto'
        '404':
          description: Design not found
        '401':
          description: Unauthorized - missing operator context
  /api/manufacturer/v1/part-design:
    get:
      tags:
      - Manufacturer Part Design Controller
      summary: Get all part designs
      description: Retrieves all part designs for the current operator
      operationId: get_20
      responses:
        '200':
          description: Successfully retrieved part designs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PartDesignDto'
        '401':
          description: Unauthorized - missing operator context
components:
  schemas:
    PartDesignDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        revisions:
          type: array
          items:
            type: string
            format: uuid
        createdAt:
          type: string
          format: date-time
      required:
      - createdAt
      - id
      - name
      - revisions
    PartDesignUpdateRequestDto:
      type: object
      description: Update request containing fields to modify
      properties:
        name:
          type: string
  securitySchemes:
    Phasio API Bearer Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
