openapi: 3.2.0
info:
  title: Phasio Manufacturer CAMSPEC Controller API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Manufacturer CAMSPEC Controller
  description: Endpoints for exporting CAMSPEC files and managing manifest mappings
paths:
  /api/manufacturer/v1/camspec/export:
    post:
      tags:
      - Manufacturer CAMSPEC Controller
      summary: Export CAMSPEC archive for requisitions
      description: Creates and downloads a CAMSPEC archive (.camspec file) containing manufacturing constraints and CAD files for the specified requisitions
      operationId: exportCamspec
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CamspecExportRequestDto'
        required: true
      responses:
        '200':
          description: CAMSPEC archive created successfully
          content:
            application/zip: {}
        '400':
          description: 'Invalid request: CAMSPEC_ENTRIES_EMPTY, CAMSPEC_PRIORITY_INVALID, CAMSPEC_QUANTITY_INVALID, INVALID_CAMSPEC_REQUEST, or other validation errors'
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/StreamingResponseBody'
        '404':
          description: One or more requisitions not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/StreamingResponseBody'
  /api/manufacturer/v1/camspec/download:
    post:
      tags:
      - Manufacturer CAMSPEC Controller
      summary: Download CAMSPEC archive for requisitions without tracking a work order
      description: Creates and downloads a CAMSPEC archive (.camspec file) containing manufacturing constraints and CAD files for the specified requisitions, without persisting any manifest mapping
      operationId: downloadCamspec
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CamspecDownloadRequestDto'
        required: true
      responses:
        '200':
          description: CAMSPEC archive created successfully
          content:
            application/zip: {}
        '400':
          description: 'Invalid request: CAMSPEC_ENTRIES_EMPTY, CAMSPEC_PRIORITY_INVALID, CAMSPEC_QUANTITY_INVALID, INVALID_CAMSPEC_REQUEST, or other validation errors'
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/StreamingResponseBody'
        '404':
          description: One or more requisitions not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/StreamingResponseBody'
components:
  schemas:
    CamspecDownloadRequisitionEntryDto:
      type: object
      properties:
        requisitionId:
          type: integer
          format: int64
        quantity:
          type: integer
          format: int32
      required:
      - quantity
      - requisitionId
    StreamingResponseBody: {}
    CamspecDownloadRequestDto:
      type: object
      description: CAMSPEC download request containing requisition IDs and quantities, with no work-order tracking
      properties:
        requisitionEntries:
          type: array
          items:
            $ref: '#/components/schemas/CamspecDownloadRequisitionEntryDto'
        fileType:
          type: string
          enum:
          - ORIGINAL_CAD_FILE
          - CORE_GEOMETRY
          - THUMBNAIL
          - PDF_DESIGN_FILE
          - WALL_THICKNESS_ANALYSIS
        priority:
          type: integer
          format: int32
      required:
      - fileType
      - priority
      - requisitionEntries
    CamspecExportRequestDto:
      type: object
      description: CAMSPEC export request containing requisition IDs, required work-order IDs, quantities, and priority
      properties:
        requisitionEntries:
          type: array
          items:
            $ref: '#/components/schemas/CamspecExportRequisitionEntryDto'
        fileType:
          type: string
          enum:
          - ORIGINAL_CAD_FILE
          - CORE_GEOMETRY
          - THUMBNAIL
          - PDF_DESIGN_FILE
          - WALL_THICKNESS_ANALYSIS
        priority:
          type: integer
          format: int32
      required:
      - fileType
      - priority
      - requisitionEntries
    CamspecExportRequisitionEntryDto:
      type: object
      properties:
        requisitionId:
          type: integer
          format: int64
        workOrderId:
          type: string
          format: uuid
        quantity:
          type: integer
          format: int32
      required:
      - quantity
      - requisitionId
      - workOrderId
  securitySchemes:
    Phasio_API_Bearer_Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
