openapi: 3.1.0
info:
  title: Phasio Activity Internal Manufacturer Cart Item Controller API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Manufacturer Cart Item Controller
  description: API for managing cart items
paths:
  /api/manufacturer/v1/cart-item/{id}:
    get:
      tags:
      - Manufacturer Cart Item Controller
      summary: Get a cart item by ID
      description: Retrieves a specific cart item by its ID
      operationId: getById_10
      parameters:
      - name: id
        in: path
        description: ID of the cart item to retrieve
        required: true
        schema:
          type: integer
          format: int64
        example: 1
      responses:
        '200':
          description: Cart item retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartItemDto'
        '404':
          description: Cart item not found
  /api/manufacturer/v1/cart-item/cart/{cartId}:
    get:
      tags:
      - Manufacturer Cart Item Controller
      summary: Get all items in a cart
      description: Retrieves all cart items associated with the specified cart
      operationId: getByCart
      parameters:
      - name: cartId
        in: path
        description: ID of the cart to retrieve items for
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Cart items retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CartItemDto'
components:
  schemas:
    CartItemDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        partRevisionId:
          type: string
          format: uuid
        partName:
          type: string
        quantity:
          type: integer
        colorId:
          type: integer
          format: int64
        precisionPricesId:
          type: integer
          format: int64
        infillId:
          type: integer
          format: int64
        processPricesId:
          type: string
          format: uuid
        materialPricesId:
          type: integer
          format: int64
        leadTimeId:
          type: string
          format: uuid
        units:
          type: string
          enum:
          - CENTIMETERS
          - MILLIMETERS
          - METRES
          - INCHES
          - FEET
        postProcessingIds:
          type: array
          items:
            type: integer
            format: int64
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
      - id
      - quantity
  securitySchemes:
    Phasio API Bearer Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
