openapi: 3.1.0
info:
  title: Phasio Activity Internal Webhooks API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Webhooks
  description: Endpoints for managing webhooks
paths:
  /api/manufacturer/v1/webhook:
    get:
      tags:
      - Webhooks
      summary: Retrieve all webhooks
      description: Retrieves a collection of all webhooks associated with an account
      operationId: getWebhooks
      responses:
        '200':
          description: Webhooks retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookDto'
        '400':
          description: Bad Request - missing or invalid authentication
    post:
      tags:
      - Webhooks
      summary: Create a webhook
      description: Creates a new webhook on an account
      operationId: createWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookDto'
        required: true
      responses:
        '200':
          description: Webhook successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDto'
        '400':
          description: Bad Request - missing or invalid authentication
  /api/manufacturer/v1/webhook/{id}:
    delete:
      tags:
      - Webhooks
      summary: Delete a webhook
      description: Deletes an existing webhook on an account
      operationId: deleteWebhook
      parameters:
      - name: id
        in: path
        description: ID of the webhook to delete
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Webhook successfully deleted
        '400':
          description: Bad Request - missing or invalid authentication
components:
  schemas:
    CreateWebhookDto:
      type: object
      properties:
        url:
          type: string
        type:
          type: string
      required:
      - type
      - url
    WebhookDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        url:
          type: string
        type:
          type: string
        secret:
          type: string
      required:
      - id
      - secret
      - type
      - url
  securitySchemes:
    Phasio API Bearer Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
