openapi: 3.1.0
info:
  title: Phasio Activity Internal Manufacturer Search Controller API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Manufacturer Search Controller
  description: Global search across parts, orders, customers, files, catalog references, and production steps
paths:
  /api/manufacturer/v1/search:
    get:
      tags:
      - Manufacturer Search Controller
      summary: Global search
      description: Returns the top-ranked matches across all searchable entity types for the given query. Capped at 5 hits per entity type. Frontend groups results by entityType and hides empty sections.
      operationId: search
      parameters:
      - name: q
        in: query
        description: Search query string
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ranked list of search hits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchHitDto'
components:
  schemas:
    SearchHitDto:
      type: object
      properties:
        entityType:
          type: string
        entityId:
          type: string
        linkId:
          type: string
        displayLabel:
          type: string
        displaySubtext:
          type: string
        rank:
          type: number
          format: double
      required:
      - displayLabel
      - entityId
      - entityType
      - rank
  securitySchemes:
    Phasio API Bearer Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
