openapi: 3.1.0
info:
  title: Phasio Activity Internal equation-resource API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: equation-resource
paths:
  /api/manufacturer/v1/equation:
    post:
      tags:
      - equation-resource
      operationId: create_14
      parameters:
      - name: processId
        in: query
        description: ID of the process to create an equation for
        required: false
        schema:
          type: string
          format: uuid
      - name: postProcessId
        in: query
        description: ID of the post-process to create an equation for
        required: false
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EquationRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TypescriptEquationDto'
  /api/manufacturer/v1/equation/{equationId}:
    delete:
      tags:
      - equation-resource
      operationId: delete_11
      parameters:
      - name: equationId
        in: path
        description: ID of the the equation to delete
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
    patch:
      tags:
      - equation-resource
      operationId: updateEquation
      parameters:
      - name: equationId
        in: path
        description: ID of the the equation to update
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EquationRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TypescriptEquationDto'
  /api/manufacturer/v1/equation/{equationId}/live:
    patch:
      tags:
      - equation-resource
      operationId: markAsLive
      parameters:
      - name: equationId
        in: path
        description: ID of the equation to make live on connected process or post-processing
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
components:
  schemas:
    TypescriptEquationDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        equation:
          type: string
        variables:
          type: array
          items:
            type: string
        lastUpdated:
          type: string
          format: date-time
      required:
      - equation
      - id
      - lastUpdated
      - variables
    EquationRequest:
      type: object
      properties:
        name:
          type: string
        equation:
          type: string
      required:
      - equation
      - name
  securitySchemes:
    Phasio API Bearer Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
