openapi: 3.1.0
info:
  title: Phasio Activity Internal Customer Document Controller API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Customer Document Controller
  description: Endpoints for retrieving order-related documents
paths:
  /api/customer/v1/document/order/{orderId}/invoice:
    get:
      tags:
      - Customer Document Controller
      summary: Download order invoice
      description: Generates and downloads the invoice PDF for a specific order
      operationId: downloadOrderInvoice
      parameters:
      - name: orderId
        in: path
        description: ID of the order
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Invoice successfully generated and downloaded
          content:
            application/pdf: {}
        '401':
          description: Unauthorized - missing or invalid authentication
        '403':
          description: Invoice downloads are disabled for this operator
        '404':
          description: Order not found or invoice not available
  /api/customer/v1/document/order/{orderId}/estimate:
    get:
      tags:
      - Customer Document Controller
      summary: Download order estimate
      description: Generates and downloads the estimate PDF for a specific order
      operationId: downloadOrderEstimate
      parameters:
      - name: orderId
        in: path
        description: ID of the order
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Estimate successfully generated and downloaded
          content:
            application/pdf: {}
        '401':
          description: Unauthorized - missing or invalid authentication
        '404':
          description: Order not found or estimate not available
  /api/customer/v1/document/order/{orderId}/confirmation:
    get:
      tags:
      - Customer Document Controller
      summary: Download order confirmation
      description: Generates and downloads the order confirmation PDF for a specific order
      operationId: downloadOrderConfirmation
      parameters:
      - name: orderId
        in: path
        description: ID of the order
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Order confirmation successfully generated and downloaded
          content:
            application/pdf: {}
        '401':
          description: Unauthorized - missing or invalid authentication
        '404':
          description: Order not found or confirmation not available
components:
  securitySchemes:
    Phasio API Bearer Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
