openapi: 3.1.0
info:
  title: Phasio Activity Internal Manufacturer User Controller API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Manufacturer User Controller
  description: Endpoints for managing manufacturer user information
paths:
  /api/manufacturer/v1/user:
    get:
      tags:
      - Manufacturer User Controller
      summary: Get current user information
      description: Retrieves information about the currently logged in user
      operationId: getUser
      responses:
        '200':
          description: User information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'
        '404':
          description: User not found
    patch:
      tags:
      - Manufacturer User Controller
      summary: Update user information
      description: Updates information for the current user
      operationId: updateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserDto'
        required: true
      responses:
        '204':
          description: User information updated successfully
        '400':
          description: Invalid update data or user not found
  /api/manufacturer/v1/user/exists:
    get:
      tags:
      - Manufacturer User Controller
      summary: Check if user exists
      description: Checks if a user with the specified username exists
      operationId: userExists
      parameters:
      - name: username
        in: query
        description: Base64-encoded username to check
        required: true
        schema:
          type: string
      responses:
        '200':
          description: User existence check completed
          content:
            application/json:
              schema:
                type: boolean
components:
  schemas:
    UpdateUserDto:
      type: object
      description: Updated user information
      properties:
        firstName:
          type: string
        lastName:
          type: string
        phoneNumber:
          type: string
    UserDto:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        phoneNumber:
          type: string
        email:
          type: string
        teamId:
          type: integer
          format: int64
        mfaEnabled:
          type: boolean
      required:
      - email
      - firstName
      - lastName
      - mfaEnabled
      - phoneNumber
      - teamId
  securitySchemes:
    Phasio API Bearer Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
