openapi: 3.2.0
info:
  title: Phasio Manufacturer Process Prices Controller API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Manufacturer Process Prices Controller
  description: Endpoints for managing manufacturing process pricing configurations
paths:
  /api/manufacturer/v1/processes:
    get:
      tags:
      - Manufacturer Process Prices Controller
      summary: Get all process pricings
      description: Retrieves all manufacturing process pricing configurations for the current operator
      operationId: get_5
      responses:
        '200':
          description: Process pricings successfully retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProcessPricesDto'
        '400':
          description: Operator not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/manufacturer/v1/processes/{processPricesId}:
    get:
      tags:
      - Manufacturer Process Prices Controller
      summary: Get process pricing by ID
      description: Retrieves a specific manufacturing process pricing configuration by its ID
      operationId: get_6
      parameters:
      - name: processPricesId
        in: path
        description: ID of the process pricing to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Process pricing found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessPricesDto'
        '404':
          description: Process pricing not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
components:
  schemas:
    MaterialPricesVariableValueDto:
      type: object
      properties:
        variableId:
          type: string
          format: uuid
        value:
          type: number
      required:
      - value
      - variableId
    MaterialPricesPropertySchemaDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
      required:
      - id
      - name
    PrecisionPricesDto:
      type: object
      properties:
        precisionPricesId:
          type: integer
          format: int64
        operatorId:
          type: integer
          format: int64
        technology:
          type: string
        name:
          type: string
        price:
          type: number
        isActive:
          type: boolean
        effectiveFrom:
          type: string
          format: date
        isDeleted:
          type: boolean
    ApiError:
      type: object
      additionalProperties: true
      description: Stable error contract. `error` is a SCREAMING_SNAKE code that clients match on; `message` is a human-readable sentence. Some errors add extra string fields (for example organisationId).
      properties:
        error:
          type: string
          example: ORDER_NOT_FOUND
        message:
          type: string
          example: Order not found
      required:
      - error
      - message
    MaterialTierDto:
      type: object
      properties:
        lowerBound:
          type: number
        upperBound:
          type: number
        pricePerGram:
          type: number
      required:
      - pricePerGram
    ProcessPricesDto:
      type: object
      properties:
        processPricesId:
          type: string
          format: uuid
        organisationId:
          type: integer
          format: int64
        technology:
          type: string
        pricingAlgorithm:
          type: string
        description:
          type: string
        materials:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/CustomFixedPriceMaterialPricesDto'
            - $ref: '#/components/schemas/EquationMaterialPricesDto'
            - $ref: '#/components/schemas/TypescriptEquationMaterialPricesDto'
            - $ref: '#/components/schemas/VAConvolutionMaterialPricesDto'
            - $ref: '#/components/schemas/VHConvolutionMaterialPricesDto'
            - $ref: '#/components/schemas/VacuumCastingMaterialPricesDto'
        infills:
          type: array
          items:
            $ref: '#/components/schemas/InfillDto'
        leadTimes:
          type: array
          items:
            $ref: '#/components/schemas/LeadTimeDto'
        precisions:
          type: array
          items:
            $ref: '#/components/schemas/PrecisionPricesDto'
        boundingBoxLimit:
          $ref: '#/components/schemas/BoundingBoxLimitDto'
        pricingEquation:
          $ref: '#/components/schemas/PricingEquationDto'
        operationIds:
          type: array
          items:
            type: string
            format: uuid
        postProcessingIds:
          type: array
          items:
            type: integer
            format: int64
        bulkPricingQuantities:
          type: array
          items:
            type: integer
        isInternal:
          type: boolean
        isDefault:
          type: boolean
        bendingEnabled:
          type: boolean
        machiningEnabled:
          type: boolean
        isDeleted:
          type: boolean
        activeEquationId:
          type: string
          format: uuid
        equations:
          type: array
          items:
            $ref: '#/components/schemas/TypescriptEquationDto'
        materialVariables:
          type: array
          items:
            $ref: '#/components/schemas/MaterialPricesPropertySchemaDto'
      required:
      - bendingEnabled
      - bulkPricingQuantities
      - infills
      - isDefault
      - isDeleted
      - isInternal
      - leadTimes
      - machiningEnabled
      - materialVariables
      - materials
      - operationIds
      - postProcessingIds
      - precisions
      - pricingAlgorithm
      - processPricesId
      - technology
    InfillDto:
      type: object
      properties:
        infillId:
          type: integer
          format: int64
        name:
          type: string
        value:
          type: number
        effectiveFrom:
          type: string
          format: date
        default:
          type: boolean
        isDeleted:
          type: boolean
      required:
      - default
      - effectiveFrom
      - infillId
      - isDeleted
      - name
      - value
    VAConvolutionMaterialPricesDto:
      allOf:
      - $ref: '#/components/schemas/MaterialPricesDto'
      - type: object
        properties:
          margin:
            type: number
          materialTierApplication:
            type: string
          density:
            type: number
          pricePerArea:
            type: number
          quantityTiers:
            type: array
            items:
              $ref: '#/components/schemas/QuantityTierDto'
          materialTiers:
            type: array
            items:
              $ref: '#/components/schemas/MaterialTierDto'
          startupCostApplication:
            type: string
          startupCostTiers:
            $ref: '#/components/schemas/StartupCostTierDto'
      required:
      - colors
      - density
      - effectiveFrom
      - isDefault
      - margin
      - materialId
      - materialName
      - materialPricesId
      - materialTierApplication
      - materialTiers
      - operatorId
      - pricePerArea
      - pricingAlgoType
      - quantityTiers
      - quoteOnly
      - startupCostApplication
      - technology
    TypescriptEquationMaterialPricesDto:
      allOf:
      - $ref: '#/components/schemas/MaterialPricesDto'
      - type: object
        properties:
          variableValues:
            type: array
            items:
              $ref: '#/components/schemas/MaterialPricesVariableValueDto'
          density:
            type: number
      required:
      - colors
      - density
      - effectiveFrom
      - isDefault
      - materialId
      - materialName
      - materialPricesId
      - operatorId
      - pricingAlgoType
      - quoteOnly
      - technology
      - variableValues
    BoundingBoxLimitDto:
      type: object
      properties:
        boundingBoxLimitId:
          type: integer
          format: int64
        technology:
          type: string
        length:
          type: number
        width:
          type: number
        height:
          type: number
      required:
      - boundingBoxLimitId
      - height
      - length
      - technology
      - width
    ColorDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        code:
          type: string
        name:
          type: string
      required:
      - code
      - id
      - name
    VHConvolutionMaterialPricesDto:
      allOf:
      - $ref: '#/components/schemas/MaterialPricesDto'
      - type: object
        properties:
          margin:
            type: number
          materialTierApplication:
            type: string
          density:
            type: number
          pricePerHeight:
            type: number
          quantityTiers:
            type: array
            items:
              $ref: '#/components/schemas/QuantityTierDto'
          materialTiers:
            type: array
            items:
              $ref: '#/components/schemas/MaterialTierDto'
          startupCostApplication:
            type: string
          startupCostTiers:
            $ref: '#/components/schemas/StartupCostTierDto'
      required:
      - colors
      - density
      - effectiveFrom
      - isDefault
      - margin
      - materialId
      - materialName
      - materialPricesId
      - materialTierApplication
      - materialTiers
      - operatorId
      - pricePerHeight
      - pricingAlgoType
      - quantityTiers
      - quoteOnly
      - startupCostApplication
      - technology
    PricingEquationDto:
      type: object
      properties:
        equation:
          type: string
        variables:
          type: array
          items:
            $ref: '#/components/schemas/PricingEquationVariableDto'
        functions:
          type: array
          items:
            $ref: '#/components/schemas/PricingEquationFunctionDto'
      required:
      - functions
      - variables
    LeadTimeDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
        buffer:
          type: integer
        isDefault:
          type: boolean
        isDeleted:
          type: boolean
      required:
      - buffer
      - isDefault
      - name
    CustomFixedPriceMaterialPricesDto:
      allOf:
      - $ref: '#/components/schemas/MaterialPricesDto'
      - type: object
        properties:
          fixedPrice:
            type: number
          density:
            type: number
          dummy:
            type: integer
            format: int64
      required:
      - colors
      - density
      - dummy
      - effectiveFrom
      - fixedPrice
      - isDefault
      - materialId
      - materialName
      - materialPricesId
      - operatorId
      - pricingAlgoType
      - quoteOnly
      - technology
    StartupCostTierDto:
      type: object
      properties:
        lowerVolume:
          type: number
        upperVolume:
          type: number
        lowerCost:
          type: number
        upperCost:
          type: number
      required:
      - lowerCost
      - lowerVolume
      - upperCost
      - upperVolume
    QuantityTierDto:
      type: object
      properties:
        lowerBound:
          type: integer
        upperBound:
          type: integer
        percentage:
          type: number
      required:
      - percentage
    PricingEquationFunctionDto:
      type: object
      properties:
        name:
          type: string
        placeholder:
          type: string
        numberArguments:
          type: integer
          format: int32
        equation:
          type: string
      required:
      - equation
      - name
      - numberArguments
      - placeholder
    PricingEquationVariableValueDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        placeholder:
          type: string
        value:
          type: number
      required:
      - id
      - name
      - placeholder
      - value
    VacuumCastingMaterialPricesDto:
      allOf:
      - $ref: '#/components/schemas/MaterialPricesDto'
      - type: object
        properties:
          minimumPartVolume:
            type: number
          pricePerGram:
            type: number
          polyurethaneDensity:
            type: number
          partsPerMould:
            type: integer
          slaCost:
            type: number
          siliconeCost:
            type: number
          wallThickness:
            type: number
          siliconeDensity:
            type: number
      required:
      - colors
      - effectiveFrom
      - isDefault
      - materialId
      - materialName
      - materialPricesId
      - minimumPartVolume
      - operatorId
      - partsPerMould
      - polyurethaneDensity
      - pricePerGram
      - pricingAlgoType
      - quoteOnly
      - siliconeCost
      - siliconeDensity
      - slaCost
      - technology
      - wallThickness
    MaterialPricesDto:
      type: object
      properties:
        materialPricesId:
          type: integer
          format: int64
        operatorId:
          type: integer
          format: int64
        technology:
          type: string
        materialId:
          type: integer
          format: int64
        materialName:
          type: string
        effectiveFrom:
          type: string
          format: date
        quoteOnly:
          type: boolean
        colors:
          type: array
          items:
            $ref: '#/components/schemas/ColorDto'
        referenceText:
          type: string
        pricingAlgoType:
          type: string
        isDefault:
          type: boolean
        datasheet:
          type: string
        wallThicknessWarning:
          type: number
        wallThicknessLimit:
          type: number
        isDeleted:
          type: boolean
      required:
      - colors
      - effectiveFrom
      - isDefault
      - materialId
      - materialName
      - materialPricesId
      - operatorId
      - pricingAlgoType
      - quoteOnly
      - technology
    PricingEquationVariableDto:
      type: object
      properties:
        name:
          type: string
        placeholder:
          type: string
        type:
          type: string
      required:
      - name
      - placeholder
    TypescriptEquationDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        equation:
          type: string
        variables:
          type: array
          items:
            type: string
        lastUpdated:
          type: string
          format: date-time
      required:
      - equation
      - id
      - lastUpdated
      - variables
    EquationMaterialPricesDto:
      allOf:
      - $ref: '#/components/schemas/MaterialPricesDto'
      - type: object
        properties:
          pricingEquationVariableValues:
            type: array
            items:
              $ref: '#/components/schemas/PricingEquationVariableValueDto'
          density:
            type: number
      required:
      - colors
      - density
      - effectiveFrom
      - isDefault
      - materialId
      - materialName
      - materialPricesId
      - operatorId
      - pricingAlgoType
      - pricingEquationVariableValues
      - quoteOnly
      - technology
  securitySchemes:
    Phasio_API_Bearer_Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
