openapi: 3.2.0
info:
  title: Phasio Manufacturer Post Processing Controller API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Manufacturer Post Processing Controller
  description: Endpoints for managing post-processing options for manufactured parts
paths:
  /api/manufacturer/v1/post-processing/{postProcessingId}:
    get:
      tags:
      - Manufacturer Post Processing Controller
      summary: Get post-processing by ID
      description: Retrieves a specific post-processing option by its ID
      operationId: get_7
      parameters:
      - name: postProcessingId
        in: path
        description: ID of the post-processing option to retrieve
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Post-processing option found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostProcessingDto'
        '404':
          description: POST_PROCESSING_NOT_FOUND - Post-processing option not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
components:
  schemas:
    PostProcessingDto:
      type: object
      discriminator:
        propertyName: type
      properties:
        id:
          type: integer
          format: int64
        type:
          type: string
        name:
          type: string
        purchasable:
          type: boolean
        effectiveFrom:
          type: string
          format: date
        operationIds:
          type: array
          items:
            type: string
            format: uuid
          uniqueItems: true
        isDefault:
          type: boolean
        isDeleted:
          type: boolean
        colors:
          type: array
          items:
            $ref: '#/components/schemas/ColorDto'
        incompatibleMaterialIds:
          type: array
          items:
            type: integer
            format: int64
        incompatibleMaterials:
          type: array
          items:
            $ref: '#/components/schemas/MaterialDto'
        mutuallyExclusiveGroup:
          type: string
        productionStatusIds:
          type: array
          items:
            type: string
            format: uuid
          uniqueItems: true
      required:
      - effectiveFrom
      - isDefault
      - isDeleted
      - name
      - purchasable
      - type
    ApiError:
      type: object
      additionalProperties: true
      description: Stable error contract. `error` is a SCREAMING_SNAKE code that clients match on; `message` is a human-readable sentence. Some errors add extra string fields (for example organisationId).
      properties:
        error:
          type: string
          example: ORDER_NOT_FOUND
        message:
          type: string
          example: Order not found
      required:
      - error
      - message
    ColorDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        code:
          type: string
        name:
          type: string
      required:
      - code
      - id
      - name
    MaterialDto:
      type: object
      properties:
        materialId:
          type: integer
          format: int64
        name:
          type: string
        type:
          type: string
      required:
      - materialId
      - name
      - type
  securitySchemes:
    Phasio_API_Bearer_Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
