openapi: 3.2.0
info:
  title: Phasio Manufacturer Document Template Controller API
  description: This is the API documentation for the Phasio application.
  version: '1.0'
servers:
- url: https://m-api.eu.phas.io
  description: Generated server url
security:
- Phasio API Bearer Token: []
tags:
- name: Manufacturer Document Template Controller
  description: Endpoints for managing document templates for invoices, orders, and consignment labels
paths:
  /api/manufacturer/v1/document-template:
    get:
      tags:
      - Manufacturer Document Template Controller
      summary: Get all document templates for operator
      description: Retrieves all document templates associated with the current operator
      operationId: getByOperator
      responses:
        '200':
          description: Document templates successfully retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentTemplateDto'
        '401':
          description: Unauthorized - operator not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /api/manufacturer/v1/document-template/operator:
    get:
      tags:
      - Manufacturer Document Template Controller
      summary: Get document template by language and type
      description: Retrieves a specific document template for the current operator by language and template type
      operationId: get_10
      parameters:
      - name: language
        in: query
        description: Language of the document template
        required: true
        schema:
          type: string
      - name: type
        in: query
        description: Type of the document template
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Document template successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentTemplateDto'
        '401':
          description: Unauthorized - operator not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: 'Document template not found (error code: DOCUMENT_TEMPLATE_NOT_FOUND)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
components:
  schemas:
    ApiError:
      type: object
      additionalProperties: true
      description: Stable error contract. `error` is a SCREAMING_SNAKE code that clients match on; `message` is a human-readable sentence. Some errors add extra string fields (for example organisationId).
      properties:
        error:
          type: string
          example: ORDER_NOT_FOUND
        message:
          type: string
          example: Order not found
      required:
      - error
      - message
    DocumentTemplateDto:
      type: object
      properties:
        documentTemplateId:
          type: integer
          format: int64
        content:
          type: string
        language:
          type: string
        type:
          type: string
        consignmentLabelSize:
          type: string
        name:
          type: string
        pageWidth:
          type: number
          format: double
        pageHeight:
          type: number
          format: double
      required:
      - content
      - documentTemplateId
      - language
      - type
  securitySchemes:
    Phasio_API_Bearer_Token:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
