{"openapi":"3.1.0","info":{"title":"Phasio API","description":"This is the API documentation for the Phasio application.","version":"1.0"},"servers":[{"url":"https://m-api.eu.phas.io","description":"Generated server url"}],"security":[{"Phasio API Bearer Token":[]}],"tags":[{"name":"Manufacturer CAMSPEC Controller","description":"Endpoints for exporting CAMSPEC files and managing manifest mappings"},{"name":"Customer Analytics Controller","description":"API for tracking customer analytics events"},{"name":"Manufacturer Color Controller","description":"Endpoints for retrieving color options for manufactured parts"},{"name":"Manufacturer Accounting","description":"Endpoints for managing accounting system integrations"},{"name":"Manufacturer Production Step Controller","description":"Endpoints for managing production steps in the manufacturing workflow"},{"name":"Manufacturer Document Controller","description":"API for generating and downloading various document types"},{"name":"Manufacturer Project Controller","description":"RSQL-enabled endpoints for managing projects with advanced querying and updating capabilities"},{"name":"Manufacturer Material Prices Controller","description":"Endpoints for managing material pricing configuration"},{"name":"Customer Country Controller","description":"Endpoints for retrieving country and jurisdiction information"},{"name":"Customer Activity Controller","description":"Endpoints for managing customer communications and activity"},{"name":"Customer Controller","description":"Endpoints for managing customer information"},{"name":"Manufacturer Part Revision Controller","description":"Endpoints for managing part geometry revisions and 3D file analysis"},{"name":"Manufacturer Metrics Controller","description":"Endpoints for tracking and recording system metrics and events"},{"name":"Manufacturer Infill Controller","description":"Endpoints for managing 3D printing infill options and configurations"},{"name":"Manufacturer Work Order Controller","description":"Manage individual work orders, including downstream routing mutations"},{"name":"Manufacturer Operator Count Controller","description":"Endpoints for managing sequential counters used by operators for numbering orders, projects, etc."},{"name":"Manufacturer Order Controller","description":"API for managing manufacturing orders and their lifecycle"},{"name":"Manufacturer Shipping Box Controller","description":"Endpoints for managing shipping box dimensions used for shipments"},{"name":"Metrics Controller","description":"Endpoints for tracking system metrics and events"},{"name":"Manufacturer Part Design Controller","description":"API for managing part designs"},{"name":"Customer Organisation Controller","description":"Endpoints for managing customer organization details"},{"name":"Inbound Email Controller","description":"Endpoints for handling incoming emails to the system"},{"name":"Customer Cart Item Controller","description":"Endpoints for managing customer shopping cart items"},{"name":"Customer Order Controller","description":"Endpoints for managing customer manufacturing orders"},{"name":"Customer Thread File Controller","description":"API for customers to manage files attached to threads"},{"name":"Manufacturer Search Controller","description":"Global search across parts, orders, customers, files, catalog references, and production steps"},{"name":"Customer Assembly Controller","description":"Endpoints for viewing assemblies"},{"name":"Customer Part Design Controller","description":"API for customers to access their part designs"},{"name":"Manufacturer Assembly Controller","description":"Endpoints for managing assemblies"},{"name":"Customer Authentication","description":"Internal endpoints for managing customer authentication"},{"name":"Manufacturer Activity Controller","description":"Endpoints for managing manufacturer activities and conversations"},{"name":"Customer Expense Controller","description":"API for customers to view expenses on their orders"},{"name":"Manufacturer Thread File Controller","description":"API for managing files attached to threads"},{"name":"Manufacturer Material Controller","description":"Endpoints for managing manufacturing materials"},{"name":"Manufacturer Discount Controller","description":"API for managing discounts"},{"name":"Pre-Order","description":"Endpoints for retrieving pre-order information"},{"name":"Customer Requisition Controller","description":"API for customers to view requisitions in their orders"},{"name":"Manufacturer Analytics Controller","description":"Programmatic analytics endpoints for retrieving manufacturer dashboard metrics, funnel performance, revenue, production, customer and material insights."},{"name":"Manufacturer Tracking Controller","description":"Endpoints for managing shipment tracking information"},{"name":"Activity Internal","description":"Internal API for activity operations including conversation creation"},{"name":"Manufacturer Precision Prices Controller","description":"Endpoints for managing precision prices for manufacturing operations"},{"name":"File Analysis Controller","description":"Endpoints for managing 3D file analysis and processing"},{"name":"Manufacturer Expense Controller","description":"API for managing order expenses"},{"name":"Customer Shipment Controller","description":"Endpoints for managing customer shipments and shipping calculations"},{"name":"Manufacturer Shipment Controller","description":"This controller is responsible for managing shipments. It allows you to get rates and fetch existing shipments."},{"name":"Internal Order Controller","description":"Endpoints for internal order processing operations"},{"name":"Webhooks","description":"Endpoints for managing webhooks"},{"name":"Customer Operator Controller","description":"API for customers to retrieve information about the operator"},{"name":"Customer Catalog Controller","description":"Endpoints for accessing manufacturing capabilities catalog"},{"name":"User Authentication Controller","description":"Endpoints for managing user authentication and multi-factor authentication"},{"name":"Manufacturer Quote Controller","description":"Endpoints for managing order quotes and pricing"},{"name":"Manufacturer Post Processing Controller","description":"Endpoints for managing post-processing options for manufactured parts"},{"name":"Manufacturer Routing Template Controller","description":"Manage routing templates on a part specification"},{"name":"Manufacturer Tax Jurisdiction Controller","description":"Endpoints for managing tax jurisdictions and their associated tax components"},{"name":"Customer Document Controller","description":"Endpoints for retrieving order-related documents"},{"name":"Customer Part Revision Controller","description":"Endpoints for managing 3D part revisions and files"},{"name":"Manufacturer Programmatic Client Controller","description":"Endpoints for managing manufacturer programmatic clients"},{"name":"Manufacturer Customer Organisation Controller","description":"API for managing customer organizations"},{"name":"Internal Customer Organisation Controller","description":"Endpoints for managing customer organizations from internal services"},{"name":"Manufacturer Requisition Controller","description":"API for managing part requisitions and production batches"},{"name":"Manufacturer Catalog Controller","description":"Endpoints for managing manufacturer catalog items"},{"name":"Addresses","description":"API for managing addresses for customers and organizations"},{"name":"Manufacturer Customer Controller","description":"API for managing customer records and operations"},{"name":"Manufacturer Reports","description":"Endpoints for downloadable manufacturer reports"},{"name":"Internal Customer Controller","description":"Endpoints for internal customer management operations"},{"name":"Customer Discount Controller","description":"API for customer discount operations"},{"name":"Manufacturer Process Prices Controller","description":"Endpoints for managing manufacturing process pricing configurations"},{"name":"Customer Project Controller","description":"Endpoints for managing customer projects"},{"name":"Manufacturer Operator Contact Controller","description":"Endpoints for managing operator contact information and details"},{"name":"Customer Addresses","description":"Endpoints for managing customer shipping and billing addresses"},{"name":"Manufacturer Operator Controller","description":"Endpoints for managing operator settings and information"},{"name":"Manufacturer Production Status Controller","description":"Endpoints for managing production status configurations for manufacturing workflow"},{"name":"Customer Cart Controller","description":"Endpoints for managing customer shopping carts"},{"name":"Internal Operator Controller","description":"Endpoints for managing operator configuration and settings"},{"name":"Manufacturer Shipping Method Controller","description":"Endpoints for managing shipping methods available to manufacturers"},{"name":"Manufacturer User Controller","description":"Endpoints for managing manufacturer user information"},{"name":"Manufacturer Thread Controller","description":"Endpoints for managing communication threads and projects"},{"name":"Manufacturer Document Template Controller","description":"Endpoints for managing document templates for invoices, orders, and consignment labels"},{"name":"Internal Accounting Controller","description":"Endpoints for managing accounting system integrations"},{"name":"Manufacturer Tax Component Controller","description":"Endpoints for managing tax components and rates"},{"name":"Manufacturer Part Specification Controller","description":"Endpoints for managing part specifications and customer article references"},{"name":"Manufacturer Kanban Column Controller","description":"Endpoints for managing Kanban board columns for order processing workflow"},{"name":"Manufacturer Cart Item Controller","description":"API for managing cart items"},{"name":"Manufacturer Lead Time Controller","description":"Endpoints for managing production lead time options for orders"},{"name":"Manufacturer Payment Information Controller","description":"Endpoints for managing operator payment information and settings"}],"paths":{"/api/manufacturer/v1/thread-file/{threadId}":{"put":{"tags":["Manufacturer Thread File Controller"],"summary":"Upload a file to a thread","description":"Uploads and attaches a file to a specified thread","operationId":"upload","parameters":[{"name":"threadId","in":"path","description":"ID of the thread to attach the file to","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"requisitionId","in":"query","description":"RequisitionId to attach the file to","required":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"File to upload"}},"required":["file"]}}}},"responses":{"200":{"description":"File uploaded successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThreadFileDto"}}}},"400":{"description":"Invalid request or file upload failed"},"401":{"description":"Unauthorized - missing operator context"}}}},"/api/manufacturer/v1/programmatic-client":{"get":{"tags":["Manufacturer Programmatic Client Controller"],"summary":"Get all clients","description":"Retrieves a list of all programmatic clients for the current operator","operationId":"getAllClients","responses":{"200":{"description":"Client information retrieved successfully","content":{"application/json":{}}},"404":{"description":"Operator not found"}}},"put":{"tags":["Manufacturer Programmatic Client Controller"],"summary":"Create a new programmatic client","description":"Creates a new programmatic client for the current operator","operationId":"create","parameters":[{"name":"keyName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Client created successfully","content":{"application/json":{}}},"404":{"description":"Operator not found"}}}},"/api/manufacturer/v1/processes/{processPricesId}/bounding-box-limit":{"put":{"tags":["Manufacturer Process Prices Controller"],"summary":"Update bounding box limit","description":"Updates the maximum build volume dimensions for a process pricing configuration","operationId":"updateBoundingBoxLimit","parameters":[{"name":"processPricesId","in":"path","description":"ID of the process pricing to update","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBoundingBoxLimitDto"}}},"required":true},"responses":{"204":{"description":"Bounding box limit successfully updated"},"400":{"description":"Invalid bounding box data, process pricing not found, or operator not found"}}},"delete":{"tags":["Manufacturer Process Prices Controller"],"summary":"Delete bounding box limit","description":"Removes the maximum build volume dimensions constraint from a process pricing configuration","operationId":"deleteBoundingBoxLimit","parameters":[{"name":"processPricesId","in":"path","description":"ID of the process pricing from which to remove the bounding box limit","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"Bounding box limit successfully deleted"},"400":{"description":"Process pricing not found or operator not found"}}}},"/api/manufacturer/v1/part-specification/{partSpecificationId}/customer-reference":{"put":{"tags":["Manufacturer Part Specification Controller"],"summary":"Update customer article reference","description":"Updates the customer's article reference for a specific part specification","operationId":"updateCustomerReference","parameters":[{"name":"partSpecificationId","in":"path","description":"ID of the part specification to update","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerArticleReferenceDto"}}},"required":true},"responses":{"200":{"description":"Customer reference successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartSpecificationDto"}}}},"400":{"description":"Invalid request data"},"401":{"description":"Unauthorized - operator not found"}}}},"/api/manufacturer/v1/part-revision/upload":{"put":{"tags":["Manufacturer Part Revision Controller"],"summary":"Upload part revision","description":"Uploads a 3D model file for analysis and creates a new part revision","operationId":"uploadPartRevision","parameters":[{"name":"designId","in":"query","description":"ID of the design to associate with this revision (optional)","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"customerOrganisationId","in":"query","description":"ID of the customer organization (optional)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"X-Filename","in":"header","description":"Original filename of the file","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"3D model file to upload"}},"required":["file"]}}}},"responses":{"200":{"description":"File upload and analysis started","content":{"application/json":{"schema":{"type":"string","format":"uuid"}}}},"400":{"description":"Invalid file or parameters"},"401":{"description":"Unauthorized - operator not found"}}}},"/api/manufacturer/v1/organisation/{organisationId}/metadata/key/{metadataKey}":{"put":{"tags":["Manufacturer Customer Organisation Controller"],"summary":"Upsert customer organisation metadata by key","description":"Sets the value for a metadata key on a customer organisation, creating the entry if it does not already exist. Intended for external systems that track their own key but do not know the corresponding internal metadata ID.","operationId":"upsertMetadataByKey","parameters":[{"name":"organisationId","in":"path","description":"ID of the organisation","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"metadataKey","in":"path","description":"Metadata key to set","required":true,"schema":{"type":"string"},"example":"shopifyCustomerId"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetCustomerOrganisationMetadataValueDto"}}},"required":true},"responses":{"200":{"description":"Metadata upserted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerOrganisationMetadataDto"}}}},"400":{"description":"Organisation not found"}}}},"/api/manufacturer/v1/order/{id}/edit":{"put":{"tags":["Manufacturer Order Controller"],"summary":"Edit a confirmed or paid order","description":"Edits an order in-place (for CONFIRMED/PAID orders). Unlike the PATCH endpoint which voids and replaces quotes, this preserves the order ID and edits requisitions in-place.","operationId":"editOrder","parameters":[{"name":"id","in":"path","description":"ID of the order to edit","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditOrderDto"}}},"required":true},"responses":{"200":{"description":"Order successfully edited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrderResponseDto"}}}},"400":{"description":"Invalid order data or edit failed"},"401":{"description":"Unauthorized - missing operator context"},"404":{"description":"Order not found"}}}},"/api/manufacturer/v1/operator/count":{"put":{"tags":["Manufacturer Operator Count Controller"],"summary":"Update operator counter","description":"Updates the current value of a specific counter type for the operator","operationId":"update","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateOperatorCountDto"}}},"required":true},"responses":{"200":{"description":"Operator counter successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperatorCountDto"}}}},"400":{"description":"Invalid counter type or value"},"401":{"description":"Unauthorized - operator not found"}}}},"/api/manufacturer/v1/lead-time/{id}":{"get":{"tags":["Manufacturer Lead Time Controller"],"summary":"Get lead time by ID","description":"Retrieves a specific lead time option by its unique identifier","operationId":"get","parameters":[{"name":"id","in":"path","description":"ID of the lead time to retrieve","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Lead time successfully retrieved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeadTimeDto"}}}},"404":{"description":"Lead time not found"}}},"put":{"tags":["Manufacturer Lead Time Controller"],"summary":"Update lead time","description":"Updates an existing lead time option","operationId":"update_1","parameters":[{"name":"id","in":"path","description":"ID of the lead time to update","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeadTimeDto"}}},"required":true},"responses":{"200":{"description":"Lead time successfully updated","content":{"application/json":{"schema":{"type":"string","format":"uuid"}}}},"400":{"description":"Invalid update data"},"404":{"description":"Lead time not found"}}},"delete":{"tags":["Manufacturer Lead Time Controller"],"summary":"Delete lead time","description":"Deletes an existing lead time option","operationId":"delete","parameters":[{"name":"id","in":"path","description":"ID of the lead time to delete","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"Lead time successfully deleted"},"404":{"description":"Lead time not found"}}}},"/api/manufacturer/v1/constraints/{constraintId}":{"get":{"tags":["constraint-resource"],"operationId":"getConstraint","parameters":[{"name":"constraintId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ConstraintDto"},{"$ref":"#/components/schemas/FixedOrientationConstraintDto"}]}}}}}},"put":{"tags":["constraint-resource"],"operationId":"updateConstraint","parameters":[{"name":"constraintId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/FixedOrientationConstraintRequestDto"}]}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ConstraintDto"},{"$ref":"#/components/schemas/FixedOrientationConstraintDto"}]}}}}}},"delete":{"tags":["constraint-resource"],"operationId":"deleteConstraint","parameters":[{"name":"constraintId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/manufacturer/v1/assemblies/{id}":{"get":{"tags":["Manufacturer Assembly Controller"],"summary":"Get assembly by ID","description":"Retrieves a specific assembly by its ID","operationId":"getAssembly","parameters":[{"name":"id","in":"path","description":"Assembly ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Successfully retrieved assembly","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssemblyDto"}}}},"404":{"description":"Assembly not found"}}},"put":{"tags":["Manufacturer Assembly Controller"],"summary":"Update assembly","description":"Updates an existing assembly","operationId":"updateAssembly","parameters":[{"name":"id","in":"path","description":"Assembly ID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAssemblyDto"}}},"required":true},"responses":{"200":{"description":"Assembly successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssemblyDto"}}}},"400":{"description":"Invalid request data"},"404":{"description":"Assembly not found"}}},"delete":{"tags":["Manufacturer Assembly Controller"],"summary":"Delete assembly","description":"Deletes an assembly","operationId":"deleteAssembly","parameters":[{"name":"id","in":"path","description":"Assembly ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"Assembly successfully deleted"},"404":{"description":"Assembly not found"}}}},"/api/manufacturer/v1/assemblies/{id}/customer-reference":{"put":{"tags":["Manufacturer Assembly Controller"],"summary":"Update customer article reference","description":"Updates the customer's article reference for a specific assembly","operationId":"updateCustomerReference_1","parameters":[{"name":"id","in":"path","description":"Assembly ID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerArticleReferenceDto"}}},"required":true},"responses":{"200":{"description":"Customer reference successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssemblyDto"}}}},"400":{"description":"Invalid request data"},"401":{"description":"Unauthorized - operator not found"}}}},"/api/manufacturer/v1/address/{addressId}":{"get":{"tags":["Addresses"],"summary":"Get an address by ID","description":"Retrieves address details for the specified ID","operationId":"getById","parameters":[{"name":"addressId","in":"path","description":"ID of the address to retrieve","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"Address retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressDto"}}}},"404":{"description":"Address not found"}}},"put":{"tags":["Addresses"],"summary":"Edit an existing address","description":"Creates a new address with the updated details, soft-deletes the old address, and transfers billing status if applicable","operationId":"edit","parameters":[{"name":"addressId","in":"path","description":"ID of the address to edit","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditAddressDto"}}},"required":true},"responses":{"200":{"description":"Address edited successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressDto"}}}},"404":{"description":"Address not found or already deleted"}}},"delete":{"tags":["Addresses"],"summary":"Delete an address","description":"Deletes the specified address","operationId":"delete_1","parameters":[{"name":"addressId","in":"path","description":"ID of the address to delete","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"Address deleted successfully","content":{"text/plain":{"schema":{"type":"string"}}}},"400":{"description":"Invalid address ID or address cannot be deleted","content":{"text/plain":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized - missing operator context"}}}},"/api/manufacturer/v1/accounting/associations":{"get":{"tags":["Manufacturer Accounting"],"summary":"Get accounting system associations","description":"Retrieves the current integration settings between the operator and an external accounting system","operationId":"getAssociations","responses":{"200":{"description":"Successfully retrieved accounting system associations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountingSystemAssociationsDto"}}}},"401":{"description":"Unauthorized - missing or invalid authentication"},"404":{"description":"Operator not found"}}},"put":{"tags":["Manufacturer Accounting"],"summary":"Update accounting system associations","description":"Updates the integration settings between the operator and an external accounting system","operationId":"updateAssociations","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountingSystemAssociationsDto"}}},"required":true},"responses":{"200":{"description":"Successfully updated accounting system associations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountingSystemAssociationsDto"}}}},"400":{"description":"Invalid request data"},"401":{"description":"Unauthorized - missing or invalid authentication"},"404":{"description":"Operator not found"}}}},"/api/internal/v1/metrics":{"put":{"tags":["Metrics Controller"],"summary":"Register metric event","description":"Records the occurrence of a specific metric event for analytics purposes","operationId":"registerEvent","parameters":[{"name":"event","in":"query","description":"Type of metric event to register","required":true,"schema":{"type":"string","enum":["CUSTOMER_LOGIN","CUSTOMER_SIGNUP","WEBSITE_VISIT","QUOTE_GENERATION","ORDER_CREATION","CART_CREATION"]}}],"responses":{"204":{"description":"Event successfully registered"},"400":{"description":"Invalid operator context or event type"},"401":{"description":"Unauthorized - missing or invalid authentication"}}}},"/api/internal/v1/inbound-email":{"put":{"tags":["Inbound Email Controller"],"summary":"Process inbound email","description":"Processes an incoming email and associates it with a thread or creates a new thread","operationId":"onEmailReceived","parameters":[{"name":"fromEmail","in":"query","description":"Email address of the sender","required":true,"schema":{"type":"string"}},{"name":"subject","in":"query","description":"Subject line of the email","required":true,"schema":{"type":"string"}},{"name":"body","in":"query","description":"Body content of the email","required":true,"schema":{"type":"string"}},{"name":"threadId","in":"query","description":"ID of an existing thread to associate the email with (optional)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"spf","in":"query","description":"Whether the email passed SPF authentication","required":true,"schema":{"type":"boolean"}},{"name":"dkim","in":"query","description":"Whether the email passed DKIM authentication","required":true,"schema":{"type":"boolean"}},{"name":"notSpam","in":"query","description":"Whether the email was determined to be legitimate (not spam)","required":true,"schema":{"type":"boolean"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"attachments":{"type":"array","description":"Files attached to the email (optional)","items":{"type":"string","format":"binary"}}}}}}},"responses":{"204":{"description":"Email successfully processed"},"400":{"description":"Invalid request data or operator not found"},"401":{"description":"Unauthorized - missing or invalid authentication"}}}},"/api/internal/v1/file-analysis/results/{analysisId}":{"put":{"tags":["File Analysis Controller"],"summary":"Save file analysis results","description":"Accepts a fully-encrypted msgpack payload from Gina-Three","operationId":"saveResults","parameters":[{"name":"analysisId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/msgpack":{"schema":{"$ref":"#/components/schemas/AnalysisResults"}}},"required":true},"responses":{"204":{"description":"Analysis results saved"},"400":{"description":"Invalid request"},"401":{"description":"Unauthorized"}}}},"/api/customer/v1/thread-file/thread/{threadId}":{"get":{"tags":["Customer Thread File Controller"],"summary":"Get files by thread ID","description":"Retrieves all files attached to the specified thread","operationId":"getFilesByThread","parameters":[{"name":"threadId","in":"path","description":"ID of the thread to get files for","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"Files retrieved successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ThreadFileDto"}}}}},"401":{"description":"Unauthorized - missing customer or operator context"}}},"put":{"tags":["Customer Thread File Controller"],"summary":"Upload a file to a thread","description":"Uploads and attaches a file to a specified thread as a customer","operationId":"upload_1","parameters":[{"name":"threadId","in":"path","description":"ID of the thread to attach the file to","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"requisitionId","in":"query","description":"RequisitionId to attach the file to","required":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"File to upload"}},"required":["file"]}}}},"responses":{"200":{"description":"File uploaded successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThreadFileDto"}}}},"400":{"description":"Invalid request or file upload failed"},"401":{"description":"Unauthorized - missing customer or operator context"}}}},"/api/customer/v1/part-revision/upload":{"put":{"tags":["Customer Part Revision Controller"],"summary":"Upload part file","description":"Uploads a 3D model file for analysis and part creation","operationId":"uploadPartRevision_1","parameters":[{"name":"X-Filename","in":"header","description":"Original filename of the uploaded 3D model","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"The 3D model file to upload"}},"required":["file"]}}}},"responses":{"200":{"description":"File successfully uploaded for analysis","content":{"application/json":{"schema":{"type":"string","format":"uuid"}}}},"401":{"description":"Unauthorized - missing or invalid authentication"}}}},"/api/customer/v1/order/{orderId}/purchase-order-pdf":{"put":{"tags":["Customer Order Controller"],"summary":"Upload purchase order PDF","description":"Uploads a PDF document as a purchase order for an order. DEPRECATED: Use the confirmPurchaseOrderPayment endpoint instead, which confirms payment and uploads the PDF in a single call.","operationId":"uploadPurchaseOrderPDF","parameters":[{"name":"orderId","in":"path","description":"ID of the order","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"Purchase order PDF file"}},"required":["file"]}}}},"responses":{"204":{"description":"PDF successfully uploaded"},"400":{"description":"Invalid order ID or upload failed"},"401":{"description":"Unauthorized - missing or invalid authentication"}},"deprecated":true}},"/api/manufacturer/v1/work-orders/{id}/parts":{"post":{"tags":["Manufacturer Work Order Controller"],"summary":"Add parts to a work order","description":"Schedules more parts into an existing work order's first operation. Always additive, distinct from the idempotent bulk schedule path.","operationId":"addParts","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddPartsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkOrderDto"}}}}}}},"/api/manufacturer/v1/webhook":{"get":{"tags":["Webhooks"],"summary":"Retrieve all webhooks","description":"Retrieves a collection of all webhooks associated with an account","operationId":"getWebhooks","responses":{"200":{"description":"Webhooks retrieved successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WebhookDto"}}}}},"400":{"description":"Bad Request - missing or invalid authentication"}}},"post":{"tags":["Webhooks"],"summary":"Create a webhook","description":"Creates a new webhook on an account","operationId":"createWebhook","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateWebhookDto"}}},"required":true},"responses":{"200":{"description":"Webhook successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookDto"}}}},"400":{"description":"Bad Request - missing or invalid authentication"}}}},"/api/manufacturer/v1/tracking":{"get":{"tags":["Manufacturer Tracking Controller"],"summary":"Get tracking information by shipment ID","description":"Retrieves tracking information for a specific shipment","operationId":"getTracking","parameters":[{"name":"shipmentId","in":"query","description":"ID of the shipment to get tracking for","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Tracking information retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrackingDto"}}}},"404":{"description":"Tracking information not found"}}},"post":{"tags":["Manufacturer Tracking Controller"],"summary":"Create tracking information","description":"Creates tracking information for a shipment","operationId":"createTracking","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTrackingDto"}}},"required":true},"responses":{"200":{"description":"Tracking information created successfully","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}},"400":{"description":"Invalid tracking data or shipment not found"}}},"patch":{"tags":["Manufacturer Tracking Controller"],"summary":"Update tracking information","description":"Updates existing tracking information","operationId":"updateTracking","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTrackingDto"}}},"required":true},"responses":{"204":{"description":"Tracking information updated successfully"},"400":{"description":"Invalid update data or tracking not found"}}}},"/api/manufacturer/v1/thread":{"post":{"tags":["Manufacturer Thread Controller"],"summary":"Create thread","description":"Creates a new communication thread or project","operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"description":"Thread data to create","oneOf":[{"$ref":"#/components/schemas/CreateJobDto"},{"$ref":"#/components/schemas/CreateProjectDto"}]}}},"required":true},"responses":{"200":{"description":"Thread created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThreadDto"}}}},"400":{"description":"Invalid thread data"},"401":{"description":"Unauthorized - operator not found"}}}},"/api/manufacturer/v1/thread/merge":{"post":{"tags":["Manufacturer Thread Controller"],"summary":"Merge threads","description":"Merges a source thread into a destination thread","operationId":"merge","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MergeThreadsDto"}}},"required":true},"responses":{"200":{"description":"Threads merged successfully","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}},"400":{"description":"Invalid merge data or threads not found"}}}},"/api/manufacturer/v1/thread/job-to-project":{"post":{"tags":["Manufacturer Thread Controller"],"summary":"Convert job to project","description":"Converts a manufacturing job thread to a project thread","operationId":"convertJobToProject","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConvertJobToProjectDto"}}},"required":true},"responses":{"200":{"description":"Job converted to project successfully","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}},"400":{"description":"Invalid conversion data or job not found"}}}},"/api/manufacturer/v1/tax-jurisdiction":{"get":{"tags":["Manufacturer Tax Jurisdiction Controller"],"summary":"Get all tax jurisdictions","description":"Retrieves all tax jurisdictions in the system","operationId":"get_1","parameters":[{"name":"includeAccountingSystemAssociated","in":"query","description":"Whether to include accounting system associated jurisdictions","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Tax jurisdictions retrieved successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TaxJurisdictionDto"}}}}}}},"post":{"tags":["Manufacturer Tax Jurisdiction Controller"],"summary":"Create tax jurisdiction","description":"Creates a new tax jurisdiction with associated tax components","operationId":"create_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaxJurisdictionDto"}}},"required":true},"responses":{"200":{"description":"Tax jurisdiction created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaxJurisdictionDto"}}}},"400":{"description":"Invalid tax jurisdiction data"}}}},"/api/manufacturer/v1/tax-jurisdiction/batch":{"post":{"tags":["Manufacturer Tax Jurisdiction Controller"],"summary":"Batch create tax jurisdictions","description":"Creates multiple tax jurisdictions with the same tax components and settings. Silently skips jurisdictions that already exist.","operationId":"createBatch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchCreateTaxJurisdictionDto"}}},"required":true},"responses":{"200":{"description":"Tax jurisdictions created successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TaxJurisdictionDto"}}}}},"400":{"description":"Invalid tax jurisdiction data"}}}},"/api/manufacturer/v1/tax-component":{"get":{"tags":["Manufacturer Tax Component Controller"],"summary":"Get all tax components","description":"Retrieves all tax components in the system","operationId":"get_2","responses":{"200":{"description":"Tax components retrieved successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TaxComponentDto"}}}}}}},"post":{"tags":["Manufacturer Tax Component Controller"],"summary":"Create tax component","description":"Creates a new tax component with specified rate","operationId":"create_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaxComponentDto"}}},"required":true},"responses":{"200":{"description":"Tax component created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaxComponentDto"}}}},"400":{"description":"Invalid tax component data"}}}},"/api/manufacturer/v1/shipping-method":{"post":{"tags":["Manufacturer Shipping Method Controller"],"summary":"Create new shipping method","description":"Creates a new shipping method for the current operator","operationId":"createShippingMethod","requestBody":{"content":{"application/json":{"schema":{"description":"Shipping method to create","oneOf":[{"$ref":"#/components/schemas/CarrierAccountShippingMethodDto"},{"$ref":"#/components/schemas/FixedPriceShippingMethodDto"},{"$ref":"#/components/schemas/SelfCollectionShippingMethodDto"}]}}},"required":true},"responses":{"200":{"description":"Shipping method successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShippingMethodDto"}}}},"400":{"description":"Invalid shipping method data"},"401":{"description":"Unauthorized - missing or invalid authentication"}}}},"/api/manufacturer/v1/shipping-box":{"post":{"tags":["Manufacturer Shipping Box Controller"],"summary":"Create shipping box","description":"Creates a new shipping box with specified dimensions","operationId":"createShippingBox","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateShippingBoxDto"}}},"required":true},"responses":{"200":{"description":"Shipping box created successfully","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}},"400":{"description":"Invalid shipping box data"},"401":{"description":"Unauthorized - operator not found"}}},"patch":{"tags":["Manufacturer Shipping Box Controller"],"summary":"Update shipping box","description":"Updates an existing shipping box dimensions","operationId":"updateShippingBox","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateShippingBoxDto"}}},"required":true},"responses":{"204":{"description":"Shipping box updated successfully"},"400":{"description":"Invalid update data or shipping box not found"}}}},"/api/manufacturer/v1/shipment/rates":{"post":{"tags":["Manufacturer Shipment Controller"],"summary":"Calculate the shipping rates for a group of parts","description":"This endpoint calculates the shipping rates for a group of parts. The request body should contain the list of parts and their quantities.","operationId":"calculateRatesv2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalculateRatesDtov2"}}},"required":true},"responses":{"200":{"description":"Shipping rates calculated successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ShippingRatesDto"}}}}},"401":{"description":"Unauthorized - operator not found"}}}},"/api/manufacturer/v1/routing-templates/{id}/deprecate":{"post":{"tags":["Manufacturer Routing Template Controller"],"operationId":"deprecate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeprecateRoutingTemplateRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoutingTemplateDto"}}}}}}},"/api/manufacturer/v1/routing-templates/{id}/default":{"post":{"tags":["Manufacturer Routing Template Controller"],"operationId":"setDefault","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoutingTemplateDto"}}}}}},"delete":{"tags":["Manufacturer Routing Template Controller"],"operationId":"unsetDefault","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoutingTemplateDto"}}}}}}},"/api/manufacturer/v1/routing-templates/{id}/approve":{"post":{"tags":["Manufacturer Routing Template Controller"],"operationId":"approve","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoutingTemplateDto"}}}}}}},"/api/manufacturer/v1/requisition/{requisitionId}/work-order":{"post":{"tags":["Manufacturer Requisition Controller"],"summary":"Create an additional work order","description":"Creates a new work order on the requisition and schedules the requested quantity into its first operation, distinct from the idempotent bulk schedule path. Uses the ad-hoc routing given by optional ordered operationIds, else the template given by optional routingTemplateId, else the spec's designated default template, else a system-derived routing. routingTemplateId alongside operationIds records which template the ad-hoc steps were customized from. Its routing can be diverged afterward via the routing editor.","operationId":"addWorkOrder","parameters":[{"name":"requisitionId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateWorkOrderRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkOrderDto"}}}}}}},"/api/manufacturer/v1/requisition/work-orders":{"post":{"tags":["Manufacturer Requisition Controller"],"summary":"Create work orders","description":"Creates a new work order for every part and quantity in the request","operationId":"createWorkOrder","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ScheduleBatchesDto"}}}},"required":true},"responses":{"200":{"description":"Successfully created work orders","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BatchBalanceDto"}}}}},"400":{"description":"Failed to create work orders"}}}},"/api/manufacturer/v1/requisition/batch-status":{"post":{"tags":["Manufacturer Requisition Controller"],"summary":"Create production batches","description":"Creates production batches for the specified parts and quantities. Idempotent: parts whose work order is already in production are skipped","operationId":"createBatchesLegacy","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ScheduleBatchesDto"}}}},"required":true},"responses":{"200":{"description":"Successfully created production batches","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BatchBalanceDto"}}}}},"400":{"description":"Failed to create production batches"}}}},"/api/manufacturer/v1/requisition/create-batches":{"post":{"tags":["Manufacturer Requisition Controller"],"summary":"Create production batches","description":"Creates production batches for the specified parts and quantities. Idempotent: parts whose work order is already in production are skipped","operationId":"createBatchesLegacy_1","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ScheduleBatchesDto"}}}},"required":true},"responses":{"200":{"description":"Successfully created production batches","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BatchBalanceDto"}}}}},"400":{"description":"Failed to create production batches"}}}},"/api/manufacturer/v1/requisition/bulk":{"post":{"tags":["Manufacturer Requisition Controller"],"summary":"Get requisitions by ids","description":"Retrieves requisitions for the given ids, regardless of current step. Used to hydrate paginated completed-order rows whose requisitions fall outside the operation-scoped set.","operationId":"getByIds","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"},"uniqueItems":true}}},"required":true},"responses":{"200":{"description":"Successfully retrieved requisitions","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RequisitionDto"}}}}}}}},"/api/manufacturer/v1/requisition/auto-create-batches/{orderId}":{"post":{"tags":["Manufacturer Requisition Controller"],"summary":"Automatically create batches for an order","description":"Creates production batches for all parts in the specified order","operationId":"autoCreateBatches","parameters":[{"name":"orderId","in":"path","description":"ID of the order to create batches for","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"Successfully created production batches","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BatchBalanceDto"}}}}},"400":{"description":"Failed to create production batches"}}}},"/api/manufacturer/v1/reports/orders/download":{"get":{"tags":["Manufacturer Reports"],"operationId":"downloadOrders","parameters":[{"name":"filter","in":"query","required":true,"schema":{"$ref":"#/components/schemas/OrderReportFilterDto"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StreamingResponseBody"}}}}}},"post":{"tags":["Manufacturer Reports"],"operationId":"downloadOrders_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderReportDownloadRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StreamingResponseBody"}}}}}}},"/api/manufacturer/v1/reports/customers/download":{"get":{"tags":["Manufacturer Reports"],"operationId":"downloadCustomers","parameters":[{"name":"filter","in":"query","required":true,"schema":{"$ref":"#/components/schemas/CustomerReportFilterDto"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StreamingResponseBody"}}}}}},"post":{"tags":["Manufacturer Reports"],"operationId":"downloadCustomers_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerReportDownloadRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StreamingResponseBody"}}}}}}},"/api/manufacturer/v1/quote/pre-order":{"post":{"tags":["Manufacturer Quote Controller"],"summary":"Generate pre-order quote","description":"Generates a preliminary quote for a potential order","operationId":"generatePreOrderQuote","parameters":[{"name":"customerOrganisationId","in":"query","description":"Customer organisation to generate a quote for","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrderDto"}}},"required":true},"responses":{"200":{"description":"Pre-order quote successfully generated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuoteDto"}}}},"400":{"description":"Invalid order data or quote generation failed"},"401":{"description":"Unauthorized - missing or invalid authentication"}}}},"/api/manufacturer/v1/operation":{"get":{"tags":["Manufacturer Production Status Controller"],"summary":"Get all production statuses","description":"Retrieves all production statuses for the current operator","operationId":"get_3","parameters":[{"name":"deleted","in":"query","description":"Whether to include deleted statuses","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Production statuses retrieved successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OperationDto"}}}}},"401":{"description":"Unauthorized - operator not found"}}},"post":{"tags":["Manufacturer Production Status Controller"],"summary":"Create production status","description":"Creates a new production status for manufacturing workflow","operationId":"create_4","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationDto"}}},"required":true},"responses":{"200":{"description":"Production status created successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OperationDto"}}}}},"400":{"description":"Invalid production status data"},"401":{"description":"Unauthorized - operator not found"}}},"patch":{"tags":["Manufacturer Production Status Controller"],"summary":"Update production status","description":"Updates an existing production status configuration","operationId":"update_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationDto"}}},"required":true},"responses":{"200":{"description":"Production status updated successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OperationDto"}}}}},"400":{"description":"Invalid update data or production status not found"},"401":{"description":"Unauthorized - operator not found"}}}},"/api/manufacturer/v1/production-status":{"get":{"tags":["Manufacturer Production Status Controller"],"summary":"Get all production statuses","description":"Retrieves all production statuses for the current operator","operationId":"get_4","parameters":[{"name":"deleted","in":"query","description":"Whether to include deleted statuses","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Production statuses retrieved successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OperationDto"}}}}},"401":{"description":"Unauthorized - operator not found"}}},"post":{"tags":["Manufacturer Production Status Controller"],"summary":"Create production status","description":"Creates a new production status for manufacturing workflow","operationId":"create_5","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationDto"}}},"required":true},"responses":{"200":{"description":"Production status created successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OperationDto"}}}}},"400":{"description":"Invalid production status data"},"401":{"description":"Unauthorized - operator not found"}}},"patch":{"tags":["Manufacturer Production Status Controller"],"summary":"Update production status","description":"Updates an existing production status configuration","operationId":"update_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationDto"}}},"required":true},"responses":{"200":{"description":"Production status updated successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OperationDto"}}}}},"400":{"description":"Invalid update data or production status not found"},"401":{"description":"Unauthorized - operator not found"}}}},"/api/manufacturer/v1/processes":{"get":{"tags":["Manufacturer Process Prices Controller"],"summary":"Get all process pricings","description":"Retrieves all manufacturing process pricing configurations for the current operator","operationId":"get_5","responses":{"200":{"description":"Process pricings successfully retrieved","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProcessPricesDto"}}}}},"400":{"description":"Operator not found"}}},"post":{"tags":["Manufacturer Process Prices Controller"],"summary":"Create process pricing","description":"Creates a new manufacturing process pricing configuration","operationId":"create_6","parameters":[{"name":"organisationId","in":"query","description":"Optional organization ID to associate with this pricing","required":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateProcessPricesDto"}}},"required":true},"responses":{"200":{"description":"Process pricing successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcessPricesDto"}}}},"400":{"description":"Invalid process pricing data or operator not found"}}}},"/api/manufacturer/v1/processes/{processPricesId}/stereotype":{"post":{"tags":["Manufacturer Process Prices Controller"],"summary":"Apply a stereotype to an existing process","description":"Generates the technology-default equation and variable schema, appending them to the target process. Fails if equations already exist or variable names collide.","operationId":"applyStereotype","parameters":[{"name":"processPricesId","in":"path","description":"ID of the process pricing to apply the stereotype to","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Stereotype applied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcessPricesDto"}}}},"400":{"description":"Process not found, technology has no stereotype, or process already has equations"},"409":{"description":"Variable name collision, or concurrent modification"}}}},"/api/manufacturer/v1/processes/{processPricesId}/material-variable":{"post":{"tags":["Manufacturer Process Prices Controller"],"operationId":"createMaterialVariable","parameters":[{"name":"processPricesId","in":"path","description":"ID of the process to create a material variable for","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaterialPricesVariableSchemaRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MaterialPricesPropertySchemaDto"}}}}}}},"/api/manufacturer/v1/processes/{processPricesId}/duplicate":{"post":{"tags":["Manufacturer Process Prices Controller"],"summary":"Duplicate process pricing","description":"Creates a duplicate of an existing process pricing configuration with new settings","operationId":"duplicate","parameters":[{"name":"processPricesId","in":"path","description":"ID of the process pricing to duplicate","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateProcessPricesDto"}}},"required":true},"responses":{"200":{"description":"Process pricing successfully duplicated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcessPricesDto"}}}},"400":{"description":"Invalid duplication data, process pricing not found, or operator not found"}}}},"/api/manufacturer/v1/processes/stereotype":{"post":{"tags":["Manufacturer Process Prices Controller"],"summary":"Create process pricing with an initial stereotype","description":"Creates a new manufacturing process pricing configuration with a skeleton stereotype structure","operationId":"createStereotype","parameters":[{"name":"technology","in":"query","description":"The technology that this process is based upon","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Process pricing successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcessPricesDto"}}}},"400":{"description":"Invalid process pricing data or operator not found"}}}},"/api/manufacturer/v1/precision-prices/create":{"post":{"tags":["Manufacturer Precision Prices Controller"],"summary":"Create precision prices","description":"Creates a new precision price entry for manufacturing operations","operationId":"createPrecisionPrices","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePrecisionPricesDto"}}},"required":true},"responses":{"200":{"description":"Precision prices created successfully","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}},"400":{"description":"Invalid data or duplicate name"},"401":{"description":"Unauthorized - operator not found"}}}},"/api/manufacturer/v1/post-processing":{"get":{"tags":["Manufacturer Post Processing Controller"],"summary":"Get all post-processing options","description":"Retrieves all post-processing options for the current operator","operationId":"get_6","responses":{"200":{"description":"Post-processing options retrieved","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PostProcessingDto"}}}}},"401":{"description":"Unauthorized - operator not found"}}},"post":{"tags":["Manufacturer Post Processing Controller"],"summary":"Create post-processing option","description":"Creates a new post-processing option for manufactured parts","operationId":"create_7","requestBody":{"content":{"application/json":{"schema":{"description":"Post-processing data to create","oneOf":[{"$ref":"#/components/schemas/EquationPostProcessingDto"},{"$ref":"#/components/schemas/LegacyEquationPostProcessingDto"}]}}},"required":true},"responses":{"200":{"description":"Post-processing option successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostProcessingDto"}}}},"400":{"description":"Invalid post-processing data"},"401":{"description":"Unauthorized - operator not found"}}}},"/api/manufacturer/v1/payment-term":{"get":{"tags":["payment-term-resource"],"operationId":"list","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PaymentTermDto"}}}}}}},"post":{"tags":["payment-term-resource"],"operationId":"create_8","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePaymentTermDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentTermDto"}}}}}}},"/api/manufacturer/v1/part-specifications/{specId}/routing-templates":{"get":{"tags":["Manufacturer Routing Template Controller"],"operationId":"list_1","parameters":[{"name":"specId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RoutingTemplateDto"}}}}}}},"post":{"tags":["Manufacturer Routing Template Controller"],"operationId":"create_9","parameters":[{"name":"specId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRoutingTemplateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoutingTemplateDto"}}}}}}},"/api/manufacturer/v1/part-specification/bulk":{"post":{"tags":["Manufacturer Part Specification Controller"],"summary":"Get part specifications by IDs","description":"Retrieves part specifications by a list of unique identifiers","operationId":"getByIds_1","requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Set of part specification IDs to retrieve","items":{"type":"string","format":"uuid"},"uniqueItems":true}}},"required":true},"responses":{"200":{"description":"Part specifications retrieved","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PartSpecificationDto"}}}}},"401":{"description":"Unauthorized - operator not found"}}}},"/api/manufacturer/v1/part-revision/recognize":{"post":{"tags":["Manufacturer Part Revision Controller"],"summary":"Recognize a single part from a camera image","description":"Analyses an image and returns the top-N most visually similar part revisions. This is a simpler, 'raw' alternative to the /detect-and-embed endpoint","operationId":"recognizeByImage","parameters":[{"name":"count","in":"query","description":"Maximum number of results to return (1-100)","required":false,"schema":{"type":"integer","format":"int64","maximum":100,"minimum":1},"example":5}],"requestBody":{"content":{"application/octet-stream":{"schema":{"type":"string","format":"byte"}}},"required":true},"responses":{"200":{"description":"Top-N matching part revisions with their similarity scores","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"Empty or invalid image body"},"401":{"description":"Unauthorized - operator not found"}}}},"/api/manufacturer/v1/part-revision/merge/{partRevisionId}/into/{targetPartRevisionId}":{"post":{"tags":["Manufacturer Part Revision Controller"],"summary":"Merge part revisions","description":"Merges one part revision into another, combining their properties","operationId":"merge_1","parameters":[{"name":"partRevisionId","in":"path","description":"ID of the part revision to merge (source)","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"targetPartRevisionId","in":"path","description":"ID of the part revision to merge into (target)","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Part revisions successfully merged","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartRevisionDto"}}}},"400":{"description":"Invalid merge operation"},"401":{"description":"Unauthorized - operator not found"}}}},"/api/manufacturer/v1/part-revision/manufacturability/validate":{"post":{"tags":["Manufacturer Part Revision Controller"],"summary":"Validate part manufacturability","description":"Validates if parts can be manufactured with specified processes and materials","operationId":"validatePartManufacturability","requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"List of part manufacturability validation requests","items":{"$ref":"#/components/schemas/PartManufacturabilityRequestDto"}}}},"required":true},"responses":{"200":{"description":"Manufacturability validation completed","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PartManufacturabilityDto"}}}}},"400":{"description":"Invalid validation request"}}}},"/api/manufacturer/v1/part-revision/hash-conflicts/{targetPartRevisionId}/merge":{"post":{"tags":["Manufacturer Part Revision Controller"],"summary":"Merge hash conflicts","description":"Resolves hash conflicts by merging duplicate part revisions into the target revision","operationId":"resolveHashConflicts","parameters":[{"name":"targetPartRevisionId","in":"path","description":"ID of the target part revision to keep","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Set of duplicate part revision IDs to merge into the target","items":{"type":"string","format":"uuid"},"uniqueItems":true}}},"required":true},"responses":{"200":{"description":"Hash conflicts resolved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartRevisionDto"}}}},"400":{"description":"Invalid request or resolution failed"},"404":{"description":"Target part revision not found"},"401":{"description":"Unauthorized - operator not found"}}}},"/api/manufacturer/v1/part-revision/download/zip":{"post":{"tags":["Manufacturer Part Revision Controller"],"summary":"Download part revision files as ZIP","description":"Downloads multiple part revision files as a single ZIP archive","operationId":"downloadZip","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartRevisionZipRequestDto"}}},"required":true},"responses":{"200":{"description":"ZIP archive created successfully","content":{"application/zip":{}}},"400":{"description":"Invalid request parameters"},"401":{"description":"Unauthorized - operator not found"}}}},"/api/manufacturer/v1/part-revision/detect-and-embed":{"post":{"tags":["Manufacturer Part Revision Controller"],"summary":"Detect parts in an image and find similar part revisions per detection","description":"Detect parts in the image and, for each detected part, returns the top-N visually similar part revisions. Bounding boxes are in original-image pixel coordinates ([x, y, width, height]) so the consumer can overlay them on the uploaded image.","operationId":"detectAndEmbed","parameters":[{"name":"count","in":"query","description":"Maximum number of similar part revisions per detection (1-100)","required":false,"schema":{"type":"integer","format":"int64","maximum":100,"minimum":1},"example":10}],"requestBody":{"content":{"application/octet-stream":{"schema":{"type":"string","format":"byte"}}},"required":true},"responses":{"200":{"description":"Per-detection bounding boxes with their top-N matching part revisions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartImageDetectionResponseDto"}}}},"400":{"description":"Empty or invalid image body"},"401":{"description":"Unauthorized - operator not found"}}}},"/api/manufacturer/v1/part-revision/design/{designId}":{"get":{"tags":["Manufacturer Part Revision Controller"],"summary":"Get part revisions by design ID","description":"Retrieves all part revisions associated with a specific design","operationId":"getByDesign","parameters":[{"name":"designId","in":"path","description":"ID of the design to get part revisions for","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Part revisions retrieved","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PartRevisionDto"}}}}},"401":{"description":"Unauthorized - operator not found"}}},"post":{"tags":["Manufacturer Part Revision Controller"],"summary":"Move part revision to design","description":"Moves a part revision from its current design to the specified design","operationId":"moveRevisionToDesign","parameters":[{"name":"designId","in":"path","description":"ID of the target design to move the revision to","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"revisionId","in":"query","description":"ID of the part revision to move","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Part revision successfully moved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartRevisionDto"}}}},"404":{"description":"Part revision or target design not found"},"401":{"description":"Unauthorized - operator not found"}}}},"/api/manufacturer/v1/part-revision/bulk":{"post":{"tags":["Manufacturer Part Revision Controller"],"summary":"Get multiple part revisions by IDs","description":"Retrieves multiple part revisions by their IDs","operationId":"getBulk","requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Set of part revision IDs to retrieve","items":{"type":"string","format":"uuid"},"uniqueItems":true}}},"required":true},"responses":{"200":{"description":"Part revisions retrieved","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PartRevisionDto"}}}}},"401":{"description":"Unauthorized - operator not found"}}}},"/api/manufacturer/v1/organisation/{organisationId}/metadata":{"post":{"tags":["Manufacturer Customer Organisation Controller"],"summary":"Add metadata to a customer organisation","description":"Adds a new metadata entry (key/value pair) to a customer organisation. Keys must be unique per organisation.","operationId":"addMetadata","parameters":[{"name":"organisationId","in":"path","description":"ID of the organisation to add metadata to","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCustomerOrganisationMetadataDto"}}},"required":true},"responses":{"200":{"description":"Metadata added successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerOrganisationMetadataDto"}}}},"400":{"description":"Invalid organisation ID or metadata already exists for the given key"}}}},"/api/manufacturer/v1/order":{"get":{"tags":["Manufacturer Order Controller"],"summary":"Get orders with filtering","description":"Retrieves a paginated list of orders with optional filtering and search","operationId":"get_7","parameters":[{"name":"filter","in":"query","description":"RSQL query string for filtering (e.g. paymentStatus=in=(PAID,UNPAID);price>10)","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","default":["createdAt,DESC"],"items":{"type":"string"}}},{"name":"search","in":"query","description":"Optional search term","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved orders","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Paginated"}}}},"400":{"description":"Invalid filter specification"}}},"post":{"tags":["Manufacturer Order Controller"],"summary":"Create a new order","description":"Creates a new manufacturing order with the provided details","operationId":"create_10","parameters":[{"name":"threadId","in":"query","description":"ID of the thread to associate with the order","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"customerOrganisationId","in":"query","description":"ID of the customer organisation to associated with the order","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"draft","in":"query","description":"Whether to save the quote as a draft. Draft quotes are internal and not visible to customers.","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrderDto"}}},"required":true},"responses":{"200":{"description":"Order successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrderResponseDto"}}}},"400":{"description":"Invalid order data or creation failed"},"401":{"description":"Unauthorized - missing operator context"}}}},"/api/manufacturer/v1/order/{id}/resend-estimate":{"post":{"tags":["Manufacturer Order Controller"],"operationId":"resendEstimate","parameters":[{"name":"id","in":"path","description":"ID of the order to resend estimate for","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"includePaymentLink","in":"query","description":"Whether to include payment link in the estimate","required":false,"schema":{"type":"boolean","default":false},"example":true}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/manufacturer/v1/order/{id}/payment":{"post":{"tags":["Manufacturer Order Controller"],"summary":"Create payment for an order","description":"Initiates payment processing for the specified order","operationId":"createPayment","parameters":[{"name":"id","in":"path","description":"ID of the order to create payment for","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"Payment successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatedPaymentDto"}}}},"400":{"description":"Failed to create payment"}}}},"/api/manufacturer/v1/order/{id}/convert":{"post":{"tags":["Manufacturer Order Controller"],"summary":"Convert a draft quote into an open quote","description":"Converts a draft quote into an open quote. This is a one-way transition: the order must currently be a draft. On conversion the customer can view the quote, the customer is notified, and any accounting estimate is moved into the open state.","operationId":"convertDraftToOpen","parameters":[{"name":"id","in":"path","description":"ID of the draft quote to convert","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"Draft successfully converted to an open quote","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderDto"}}}},"400":{"description":"Order is not a draft or conversion failed"},"404":{"description":"Order not found"}}}},"/api/manufacturer/v1/order/{id}/confirmation":{"post":{"tags":["Manufacturer Order Controller"],"operationId":"sendOrderConfirmation","parameters":[{"name":"id","in":"path","description":"ID of the order to resend order confirmation for","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/manufacturer/v1/order/{id}/clone":{"post":{"tags":["Manufacturer Order Controller"],"summary":"Clone an order","description":"Creates a new order as a copy of an existing one","operationId":"clone","parameters":[{"name":"id","in":"path","description":"ID of the order to clone","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"Order successfully cloned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderDto"}}}},"404":{"description":"Original order not found"}}}},"/api/manufacturer/v1/operator/permitted-domain":{"post":{"tags":["Manufacturer Operator Controller"],"summary":"Add permitted domain","description":"Adds a new domain to the list of permitted domains for the current operator","operationId":"addPermittedDomain","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddOperatorPermittedDomainDto"}}},"required":true},"responses":{"200":{"description":"Domain successfully added","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"Invalid domain format"},"401":{"description":"Unauthorized - operator not found"}}}},"/api/manufacturer/v1/operator/payment-information/update":{"post":{"tags":["Manufacturer Payment Information Controller"],"summary":"Update operator payment information","description":"Updates payment information settings for the current operator","operationId":"updateOperatorPaymentInformation","requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Payment information update details","items":{"$ref":"#/components/schemas/UpdateOperatorPaymentInformationDto"}}}},"required":true},"responses":{"200":{"description":"Payment information successfully updated","content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}}},"400":{"description":"Invalid payment information data"},"401":{"description":"Unauthorized - operator not found"}}}},"/api/manufacturer/v1/operator/logo":{"get":{"tags":["Manufacturer Operator Controller"],"summary":"Get operator logo","description":"Gets the logo image for the current operator","operationId":"downloadLogo","responses":{"204":{"description":"Got logo successfully"},"401":{"description":"Unauthorized - missing or invalid authentication"}}},"post":{"tags":["Manufacturer Operator Controller"],"summary":"Upload operator logo","description":"Uploads a new logo image for the current operator","operationId":"uploadLogo","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"Logo image file to upload"}},"required":["file"]}}}},"responses":{"204":{"description":"Logo successfully uploaded"},"400":{"description":"Invalid file or upload failed"},"401":{"description":"Unauthorized - missing or invalid authentication"}}}},"/api/manufacturer/v1/operator/domain-authentication":{"get":{"tags":["Manufacturer Operator Controller"],"summary":"Get domain authentication","description":"Returns the current domain authentication status and DNS records for the operator.","operationId":"getDomainAuthentication","responses":{"200":{"description":"Domain authentication found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainAuthenticationDto"}}}},"404":{"description":"No domain authentication configured"}}},"post":{"tags":["Manufacturer Operator Controller"],"summary":"Create domain authentication","description":"Creates domain authentication for the operator. Returns DNS records to add to your domain.","operationId":"createDomainAuthentication","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDomainAuthenticationDto"}}},"required":true},"responses":{"201":{"description":"Domain authentication created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainAuthenticationDto"}}}},"400":{"description":"Invalid request or SendGrid error"},"409":{"description":"Domain authentication already exists"},"503":{"description":"SendGrid not configured"}}},"delete":{"tags":["Manufacturer Operator Controller"],"summary":"Delete domain authentication","description":"Removes domain authentication from operator","operationId":"deleteDomainAuthentication","responses":{"204":{"description":"Domain authentication deleted"},"404":{"description":"No domain authentication to delete"}}}},"/api/manufacturer/v1/operator/domain-authentication/validate":{"post":{"tags":["Manufacturer Operator Controller"],"summary":"Validate domain authentication","description":"Triggers domain DNS validation. Call after adding the DNS records.","operationId":"validateDomainAuthentication","responses":{"200":{"description":"Validation completed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainAuthenticationDto"}}}},"404":{"description":"Domain authentication not found"},"503":{"description":"SendGrid not configured"}}}},"/api/manufacturer/v1/operator-contact":{"post":{"tags":["Manufacturer Operator Contact Controller"],"summary":"Create operator contact","description":"Creates a new contact information record for an operator","operationId":"createOperatorContact","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOperatorContactDto"}}},"required":true},"responses":{"200":{"description":"Operator contact successfully created","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}},"400":{"description":"Invalid contact data"},"401":{"description":"Unauthorized - operator not found"}}},"patch":{"tags":["Manufacturer Operator Contact Controller"],"summary":"Update operator contact","description":"Updates existing contact information for an operator","operationId":"updateOperatorContact","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateOperatorContactDto"}}},"required":true},"responses":{"204":{"description":"Operator contact successfully updated"},"400":{"description":"Invalid update data or contact not found"}}}},"/api/manufacturer/v1/metrics":{"post":{"tags":["Manufacturer Metrics Controller"],"summary":"Register event occurrence","description":"Records the occurrence of a specific metric event for analytics and monitoring","operationId":"registerEventOccurrence","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DMZEventOccurrenceDto"}}},"required":true},"responses":{"200":{"description":"Event successfully registered"},"400":{"description":"Invalid event data"},"401":{"description":"Unauthorized - operator not found"}}}},"/api/manufacturer/v1/material-prices":{"post":{"tags":["Manufacturer Material Prices Controller"],"summary":"Create material prices","description":"Creates a new material pricing configuration","operationId":"createMaterialPrices","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMaterialPricesDto"}}},"required":true},"responses":{"200":{"description":"Material prices successfully created","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}},"400":{"description":"Invalid material prices data"},"401":{"description":"Unauthorized - operator not found"}}},"patch":{"tags":["Manufacturer Material Prices Controller"],"summary":"Update material prices","description":"Updates an existing material pricing configuration","operationId":"updateMaterialPrices","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMaterialPricesDto"}}},"required":true},"responses":{"204":{"description":"Material prices successfully updated"},"400":{"description":"Invalid update data or material prices not found"}}}},"/api/manufacturer/v1/material-prices/duplicate/create":{"post":{"tags":["Manufacturer Material Prices Controller"],"summary":"Create duplicate material prices","description":"Creates a duplicate of an existing material pricing configuration with a new name","operationId":"createDuplicateMaterialPrices","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateMaterialPricesDto"}}},"required":true},"responses":{"200":{"description":"Duplicate material prices successfully created","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}},"400":{"description":"Invalid duplication request or source material prices not found"}}}},"/api/manufacturer/v1/lead-time":{"get":{"tags":["Manufacturer Lead Time Controller"],"summary":"Get all lead times","description":"Retrieves all available lead time options","operationId":"get_8","responses":{"200":{"description":"Lead times successfully retrieved","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LeadTimeDto"}}}}}}},"post":{"tags":["Manufacturer Lead Time Controller"],"summary":"Create lead time","description":"Creates a new lead time option","operationId":"create_11","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeadTimeDto"}}},"required":true},"responses":{"200":{"description":"Lead time successfully created","content":{"application/json":{"schema":{"type":"string","format":"uuid"}}}},"400":{"description":"Invalid lead time data"}}}},"/api/manufacturer/v1/kanban-column":{"get":{"tags":["Manufacturer Kanban Column Controller"],"summary":"Get Kanban columns","description":"Retrieves all Kanban columns for the current operator, optionally filtered by order status","operationId":"get_9","parameters":[{"name":"orderStatus","in":"query","description":"Order status to filter Kanban columns by (optional)","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Kanban columns successfully retrieved","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KanbanColumnDto"}}}}},"401":{"description":"Unauthorized - operator not found"}}},"post":{"tags":["Manufacturer Kanban Column Controller"],"summary":"Create Kanban column","description":"Creates a new Kanban column for the order processing workflow","operationId":"create_12","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateKanbanColumnDto"}}},"required":true},"responses":{"200":{"description":"Kanban column successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KanbanColumnDto"}}}},"400":{"description":"Invalid Kanban column data"},"401":{"description":"Unauthorized - operator not found"}}}},"/api/manufacturer/v1/infill/create":{"post":{"tags":["Manufacturer Infill Controller"],"summary":"Create infill option","description":"Creates a new infill option for 3D printing with specified density value","operationId":"createInfill","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateInfillDto"}}},"required":true},"responses":{"200":{"description":"Infill option successfully created","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}},"400":{"description":"Invalid infill data"},"401":{"description":"Unauthorized - operator not found"}}}},"/api/manufacturer/v1/expense":{"post":{"tags":["Manufacturer Expense Controller"],"summary":"Create a new expense for an order","operationId":"create_13","parameters":[{"name":"orderId","in":"query","description":"ID of the order to associate the expense with","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/CreateFixedExpenseDto"},{"$ref":"#/components/schemas/CreateHourlyExpenseDto"}]}}},"required":true},"responses":{"200":{"description":"Expense created successfully","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}},"400":{"description":"Invalid request data"},"401":{"description":"Unauthorized - missing operator context"}}}},"/api/manufacturer/v1/equation":{"post":{"tags":["equation-resource"],"operationId":"create_14","parameters":[{"name":"processId","in":"query","description":"ID of the process to create an equation for","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"postProcessId","in":"query","description":"ID of the post-process to create an equation for","required":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EquationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TypescriptEquationDto"}}}}}}},"/api/manufacturer/v1/document-template":{"get":{"tags":["Manufacturer Document Template Controller"],"summary":"Get all document templates for operator","description":"Retrieves all document templates associated with the current operator","operationId":"getByOperator","responses":{"200":{"description":"Document templates successfully retrieved","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentTemplateDto"}}}}},"401":{"description":"Unauthorized - operator not found"}}},"post":{"tags":["Manufacturer Document Template Controller"],"summary":"Create document template","description":"Creates a new document template for a specific language and template type","operationId":"create_15","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDocumentTemplateDto"}}},"required":true},"responses":{"200":{"description":"Document template successfully created","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}},"400":{"description":"Invalid document template data"},"401":{"description":"Unauthorized - operator not found"}}},"patch":{"tags":["Manufacturer Document Template Controller"],"summary":"Update document template","description":"Updates the content of an existing document template","operationId":"update_4","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDocumentTemplateDto"}}},"required":true},"responses":{"204":{"description":"Document template successfully updated"},"400":{"description":"Invalid update data or document template not found"}}}},"/api/manufacturer/v1/discount":{"get":{"tags":["Manufacturer Discount Controller"],"summary":"Get all discounts","operationId":"getDiscounts","parameters":[{"name":"active","in":"query","description":"Filter for active discounts","required":false,"schema":{"type":"boolean","default":true},"example":true},{"name":"discountType","in":"query","description":"Filter by discount type (GENERIC, CUSTOMER, INSTANT)","required":false,"schema":{"type":"string"},"example":"GENERIC"}],"responses":{"200":{"description":"List of discounts retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiscountDto"}}}}}},"post":{"tags":["Manufacturer Discount Controller"],"summary":"Create a new discount","operationId":"createDiscount","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/CreateCustomerDiscountDto"},{"$ref":"#/components/schemas/CreateGenericDiscountDto"},{"$ref":"#/components/schemas/CreateInstantDiscountDto"}]}}},"required":true},"responses":{"200":{"description":"Discount created successfully","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}},"400":{"description":"Invalid request or discount with same code already exists"}}}},"/api/manufacturer/v1/discount/validate":{"post":{"tags":["Manufacturer Discount Controller"],"summary":"Validate a discount code for a customer","operationId":"validateDiscount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateDiscountDto"}}},"required":true},"responses":{"200":{"description":"Discount is valid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiscountDto"}}}},"400":{"description":"Invalid discount code or not applicable to customer"}}}},"/api/manufacturer/v1/customer":{"post":{"tags":["Manufacturer Customer Controller"],"summary":"Create a new customer","description":"Creates a new customer record","operationId":"createCustomer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCustomerDto"}}},"required":true},"responses":{"200":{"description":"Customer created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerDto"}}}},"400":{"description":"Invalid customer data"},"401":{"description":"Unauthorized - missing operator context"},"409":{"description":"Customer with the same email or phone number already exists","content":{"application/json":{}}}}},"patch":{"tags":["Manufacturer Customer Controller"],"summary":"Update a customer","description":"Updates an existing customer record","operationId":"updateCustomer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerUpdateDto"}}},"required":true},"responses":{"200":{"description":"Customer updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerDto"}}}},"400":{"description":"Invalid customer data or customer not found"}}}},"/api/manufacturer/v1/customer/upload":{"post":{"tags":["Manufacturer Customer Controller"],"summary":"Upload customers from a file","description":"Imports multiple customers from a CSV or Excel file","operationId":"uploadCustomers","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"CSV or Excel file containing customer data"}},"required":["file"]}}}},"responses":{"204":{"description":"Customers uploaded successfully"},"400":{"description":"Invalid file format or operator ID mismatch"}}}},"/api/manufacturer/v1/customer/principal":{"post":{"tags":["Manufacturer Customer Controller"],"summary":"Get a customer by principal","description":"Retrieves a customer using their principal identifier (username, email, etc.)","operationId":"getCustomer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerRequestDto"}}},"required":true},"responses":{"200":{"description":"Customer retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerDto"}}}},"404":{"description":"Customer not found"},"401":{"description":"Unauthorized - missing operator context"}}}},"/api/manufacturer/v1/customer/phone":{"post":{"tags":["Manufacturer Customer Controller"],"summary":"Get a customer by phone number","description":"Retrieves a customer using their phone number. Always returns 200 - exists flag indicates whether a match was found.","operationId":"getCustomerByPhone","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerRequestDto"}}},"required":true},"responses":{"200":{"description":"Lookup completed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerPhoneLookupDto"}}}},"401":{"description":"Unauthorized - missing operator context"}}}},"/api/manufacturer/v1/customer/organisation/{organisationId}":{"get":{"tags":["Manufacturer Customer Controller"],"summary":"Get customers by organization","description":"Retrieves all customers belonging to a specific organization","operationId":"getCustomersByOrganisation","parameters":[{"name":"organisationId","in":"path","description":"ID of the organization to get customers for","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"Customers retrieved successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustomerDto"}}}}}}},"post":{"tags":["Manufacturer Customer Controller"],"summary":"Create a customer in an organization","description":"Creates a new customer that belongs to a specific organization","operationId":"createCustomerInOrganisation","parameters":[{"name":"organisationId","in":"path","description":"ID of the organization to add the customer to","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCustomerDto"}}},"required":true},"responses":{"200":{"description":"Customer created successfully","content":{"text/plain":{"schema":{"type":"string"}}}},"400":{"description":"Invalid customer data or organization ID","content":{"text/plain":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized - missing operator context"}}}},"/api/manufacturer/v1/customer/email":{"post":{"tags":["Manufacturer Customer Controller"],"summary":"Get a customer by email","description":"Retrieves a customer using their email address. Always returns 200 - exists flag indicates whether a match was found.","operationId":"getCustomerByEmail","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerRequestDto"}}},"required":true},"responses":{"200":{"description":"Lookup completed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerEmailLookupDto"}}}},"401":{"description":"Unauthorized - missing operator context"}}}},"/api/manufacturer/v1/constraints":{"post":{"tags":["constraint-resource"],"operationId":"createConstraint","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/FixedOrientationConstraintRequestDto"}]}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ConstraintDto"},{"$ref":"#/components/schemas/FixedOrientationConstraintDto"}]}}}}}}},"/api/manufacturer/v1/catalog":{"post":{"tags":["Manufacturer Catalog Controller"],"summary":"Create catalog items","description":"Creates one or more catalog items by creating part specifications and customer article references. If a part specification with the same manufacturing parameters already exists, it will be reused. The catalog items will automatically be visible in the customer catalog.","operationId":"createCatalogItems","requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"List of catalog items to create","items":{"$ref":"#/components/schemas/CreateCatalogItemDto"}}}},"required":true},"responses":{"200":{"description":"Catalog items successfully created","content":{"application/json":{"schema":{"type":"array","ite
[...]
