{
  "openapi": "3.2.0",
  "info": {
    "title": "Phasio API",
    "description": "This is the API documentation for the Phasio application.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://m-api.eu.phas.io",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "Phasio API Bearer Token": []
    }
  ],
  "tags": [
    {
      "name": "Manufacturer CAMSPEC Controller",
      "description": "Endpoints for exporting CAMSPEC files and managing manifest mappings"
    },
    {
      "name": "Payments",
      "description": "Manage payments for orders"
    },
    {
      "name": "Manufacturer Color Controller",
      "description": "Endpoints for retrieving color options for manufactured parts"
    },
    {
      "name": "Manufacturer Production Step Controller",
      "description": "Endpoints for managing production steps in the manufacturing workflow"
    },
    {
      "name": "Manufacturer Document Controller",
      "description": "API for generating and downloading various document types"
    },
    {
      "name": "Webhooks",
      "description": "Endpoints for managing webhooks"
    },
    {
      "name": "Manufacturer Part Revision Controller",
      "description": "Endpoints for managing part geometry revisions and 3D file analysis"
    },
    {
      "name": "Shipments",
      "description": "Create, replace, and progress shipments on an order"
    },
    {
      "name": "Manufacturer Post Processing Controller",
      "description": "Endpoints for managing post-processing options for manufactured parts"
    },
    {
      "name": "Manufacturer Routing Template Controller",
      "description": "Manage routing templates on a part specification"
    },
    {
      "name": "Manufacturer Infill Controller",
      "description": "Endpoints for managing 3D printing infill options and configurations"
    },
    {
      "name": "Manufacturer Work Order Controller",
      "description": "Manage individual work orders, including downstream routing mutations"
    },
    {
      "name": "Manufacturer Customer Organisation Controller",
      "description": "API for managing customer organizations"
    },
    {
      "name": "Manufacturer Requisition Controller",
      "description": "API for managing part requisitions and production batches"
    },
    {
      "name": "Manufacturer Catalog Controller",
      "description": "Endpoints for managing manufacturer catalog items"
    },
    {
      "name": "Manufacturer Customer Controller",
      "description": "API for managing customer records and operations"
    },
    {
      "name": "Operator Addresses",
      "description": "API for managing manufacturer operator addresses"
    },
    {
      "name": "Addresses",
      "description": "API for managing addresses for customers and organizations"
    },
    {
      "name": "Manufacturer Process Prices Controller",
      "description": "Endpoints for managing manufacturing process pricing configurations"
    },
    {
      "name": "Shipping Rates",
      "description": "API for retrieving shipping rates for parts"
    },
    {
      "name": "Manufacturer Assembly Controller",
      "description": "Endpoints for managing assemblies"
    },
    {
      "name": "Manufacturer Activity Controller",
      "description": "Endpoints for managing manufacturer activities and conversations"
    },
    {
      "name": "Manufacturer Thread File Controller",
      "description": "API for managing files attached to threads"
    },
    {
      "name": "Manufacturer Material Controller",
      "description": "Endpoints for managing manufacturing materials"
    },
    {
      "name": "Manufacturer Document Template Controller",
      "description": "Endpoints for managing document templates for invoices, orders, and consignment labels"
    },
    {
      "name": "Orders",
      "description": "API for managing orders and their lifecycle"
    },
    {
      "name": "Manufacturer Part Specification Controller",
      "description": "Endpoints for managing part specifications and customer article references"
    },
    {
      "name": "Manufacturer Cart Item Controller",
      "description": "API for managing cart items"
    },
    {
      "name": "Manufacturer Kanban Column Controller",
      "description": "Endpoints for managing Kanban board columns for order processing workflow"
    },
    {
      "name": "Manufacturer Analytics Controller",
      "description": "Programmatic analytics endpoints for retrieving manufacturer dashboard metrics, funnel performance, revenue, production, customer and material insights."
    },
    {
      "name": "Manufacturer Precision Prices Controller",
      "description": "Endpoints for managing precision prices for manufacturing operations"
    }
  ],
  "paths": {
    "/api/manufacturer/v1/part-revision/{partRevisionId}/version-name": {
      "put": {
        "tags": [
          "Manufacturer Part Revision Controller"
        ],
        "summary": "Set part revision version name",
        "description": "Sets a custom revision name (e.g. the customer's own revision reference) shown in place of the version number",
        "operationId": "updateVersionName",
        "parameters": [
          {
            "name": "partRevisionId",
            "in": "path",
            "description": "ID of the part revision to update",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePartRevisionVersionNameDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Version name updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartRevisionDto"
                }
              }
            }
          },
          "400": {
            "description": "Version name exceeds 64 characters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - operator not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Part revision not found (error code: PART_REVISION_NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/part-revision/upload": {
      "put": {
        "tags": [
          "Manufacturer Part Revision Controller"
        ],
        "summary": "Upload part revision",
        "description": "Uploads a 3D model file for analysis and creates a new part revision",
        "operationId": "uploadPartRevision",
        "parameters": [
          {
            "name": "designId",
            "in": "query",
            "description": "ID of the design to associate with this revision (optional)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "customerOrganisationId",
            "in": "query",
            "description": "ID of the customer organization (optional)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Filename",
            "in": "header",
            "description": "Original filename of the file",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "3D model file to upload"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File upload and analysis started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "400": {
            "description": "Invalid file or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - operator not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/organisation/{organisationId}/metadata/key/{metadataKey}": {
      "put": {
        "tags": [
          "Manufacturer Customer Organisation Controller"
        ],
        "summary": "Upsert customer organisation metadata by key",
        "description": "Sets the value for a metadata key on a customer organisation, creating the entry if it does not already exist. Intended for external systems that track their own key but do not know the corresponding internal metadata ID.",
        "operationId": "upsertMetadataByKey",
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "ID of the organisation",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          },
          {
            "name": "metadataKey",
            "in": "path",
            "description": "Metadata key to set",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "shopifyCustomerId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetCustomerOrganisationMetadataValueDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Metadata upserted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerOrganisationMetadataDto"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/order/{orderId}/shipments/{shipmentId}": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "Get a shipment",
        "description": "Retrieves a single shipment on the order by ID",
        "operationId": "get",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID of the order the shipment belongs to",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          },
          {
            "name": "shipmentId",
            "in": "path",
            "description": "ID of the shipment to retrieve",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing operator context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Shipment not found; error code: SHIPMENT_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Shipments"
        ],
        "summary": "Replace a prepared shipment",
        "description": "Replaces a prepared shipment",
        "operationId": "replace",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID of the order the shipment belongs to",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          },
          {
            "name": "shipmentId",
            "in": "path",
            "description": "ID of the prepared shipment to replace",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "release",
            "in": "query",
            "description": "If true, the shipment is released after replace",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CollectionShipmentDto"
                  },
                  {
                    "$ref": "#/components/schemas/CourierShipmentDto"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Shipment replaced successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid shipment; error codes: SHIPMENT_STRUCTURE_FROZEN, SHIPMENT_ADDRESS_REQUIRED, SHIPMENT_PACKING_INVALID, SHIPMENT_OVER_ALLOCATED, SHIPMENT_INCOTERM_INVALID, SHIPMENT_TYPE_INVALID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing operator context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Shipment not found; error code: SHIPMENT_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Shipments"
        ],
        "summary": "Delete a shipment",
        "description": "Deletes a shipment that has not been fulfilled.",
        "operationId": "delete",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID of the order the shipment belongs to",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          },
          {
            "name": "shipmentId",
            "in": "path",
            "description": "ID of the shipment to delete",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Shipment deleted successfully"
          },
          "400": {
            "description": "Fulfilled shipments cannot be deleted; error code: SHIPMENT_DELETE_FORBIDDEN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing operator context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Shipment not found; error code: SHIPMENT_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/order/{orderId}/shipments/{shipmentId}/tracking": {
      "put": {
        "tags": [
          "Shipments"
        ],
        "summary": "Update courier tracking",
        "description": "Sets or clears tracking on a courier shipment",
        "operationId": "updateTracking",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID of the order the shipment belongs to",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          },
          {
            "name": "shipmentId",
            "in": "path",
            "description": "ID of the courier shipment to update",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShipmentTrackingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Tracking updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentDto"
                }
              }
            }
          },
          "400": {
            "description": "Tracking is only allowed on courier shipments; error code: SHIPMENT_TRACKING_FORBIDDEN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing operator context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Shipment not found; error code: SHIPMENT_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/operator/address/{addressId}": {
      "get": {
        "tags": [
          "Operator Addresses"
        ],
        "summary": "Get an operator address by ID",
        "description": "Retrieves address details for the specified operator address ID",
        "operationId": "getById",
        "parameters": [
          {
            "name": "addressId",
            "in": "path",
            "description": "ID of the address to retrieve",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Address retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressDto"
                }
              }
            }
          },
          "404": {
            "description": "Address not found; error code: ADDRESS_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Operator Addresses"
        ],
        "summary": "Edit an existing operator address",
        "description": "Creates a new address with the updated details, soft-deletes the old address, and transfers billing and shipping defaults if applicable",
        "operationId": "edit",
        "parameters": [
          {
            "name": "addressId",
            "in": "path",
            "description": "ID of the address to edit",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditOperatorAddressDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Address edited successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressDto"
                }
              }
            }
          },
          "404": {
            "description": "Address not found or already deleted; error code: ADDRESS_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Operator Addresses"
        ],
        "summary": "Delete an operator address",
        "description": "Soft-deletes the specified operator address",
        "operationId": "delete_1",
        "parameters": [
          {
            "name": "addressId",
            "in": "path",
            "description": "ID of the address to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "Address deleted successfully"
          },
          "404": {
            "description": "Address not found; error code: ADDRESS_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/assemblies/{id}": {
      "get": {
        "tags": [
          "Manufacturer Assembly Controller"
        ],
        "summary": "Get assembly by ID",
        "description": "Retrieves a specific assembly by its ID",
        "operationId": "getAssembly",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Assembly ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved assembly",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssemblyDto"
                }
              }
            }
          },
          "404": {
            "description": "Assembly not found (error code: ASSEMBLY_NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Manufacturer Assembly Controller"
        ],
        "summary": "Update assembly",
        "description": "Updates an existing assembly",
        "operationId": "updateAssembly",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Assembly ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAssemblyDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Assembly successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssemblyDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Assembly not found (error code: ASSEMBLY_NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Manufacturer Assembly Controller"
        ],
        "summary": "Delete assembly",
        "description": "Deletes an assembly",
        "operationId": "deleteAssembly",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Assembly ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Assembly successfully deleted"
          },
          "404": {
            "description": "Assembly not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/address/{addressId}": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Get an address by ID",
        "description": "Retrieves address details for the specified ID",
        "operationId": "getById_1",
        "parameters": [
          {
            "name": "addressId",
            "in": "path",
            "description": "ID of the address to retrieve",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Address retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressDto"
                }
              }
            }
          },
          "404": {
            "description": "Address not found; error code: ADDRESS_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Addresses"
        ],
        "summary": "Edit an existing address",
        "description": "Creates a new address with the updated details, soft-deletes the old address, and transfers billing status if applicable",
        "operationId": "edit_1",
        "parameters": [
          {
            "name": "addressId",
            "in": "path",
            "description": "ID of the address to edit",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditAddressDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Address edited successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressDto"
                }
              }
            }
          },
          "404": {
            "description": "Address not found or already deleted; error code: ADDRESS_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/webhook": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Retrieve all webhooks",
        "description": "Retrieves a collection of all webhooks associated with an account",
        "operationId": "getWebhooks",
        "responses": {
          "200": {
            "description": "Webhooks retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - missing or invalid authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create a webhook",
        "description": "Creates a webhook for one event type on the authenticated account. The URL must use HTTPS and resolve to a public address. Save the returned id for deletion and secret for decrypting deliveries. Deliveries contain a JSON payload field encrypted with AES-256-GCM and an X-Phasio-Signature HMAC-SHA256 header.",
        "operationId": "createWebhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Webhook successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDto"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_WEBHOOK - Invalid webhook data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/shipping-rates": {
      "post": {
        "tags": [
          "Shipping Rates"
        ],
        "summary": "Calculate the shipping rates for a group of parts",
        "description": "This endpoint calculates the shipping rates for a group of parts. The request body should contain the list of parts and their quantities.",
        "operationId": "calculateRatesv2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalculateRatesDtov2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Shipping rates calculated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShippingRatesDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - operator not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/routing-templates/{id}/deprecate": {
      "post": {
        "tags": [
          "Manufacturer Routing Template Controller"
        ],
        "operationId": "deprecate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeprecateRoutingTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RoutingTemplateDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/routing-templates/{id}/default": {
      "post": {
        "tags": [
          "Manufacturer Routing Template Controller"
        ],
        "operationId": "setDefault",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RoutingTemplateDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Manufacturer Routing Template Controller"
        ],
        "operationId": "unsetDefault",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RoutingTemplateDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/routing-templates/{id}/approve": {
      "post": {
        "tags": [
          "Manufacturer Routing Template Controller"
        ],
        "operationId": "approve",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RoutingTemplateDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/requisition/work-orders": {
      "post": {
        "tags": [
          "Manufacturer Requisition Controller"
        ],
        "summary": "Create work orders",
        "description": "Creates a new work order for every part and quantity in the request",
        "operationId": "createWorkOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ScheduleBatchesDto"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully created work orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BatchBalanceDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to create work orders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/requisition/batch-status": {
      "post": {
        "tags": [
          "Manufacturer Requisition Controller"
        ],
        "summary": "Create production batches",
        "description": "Creates production batches for the specified parts and quantities. Idempotent: parts whose work order is already in production are skipped",
        "operationId": "createBatchesLegacy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ScheduleBatchesDto"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully created production batches",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BatchBalanceDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to create production batches",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/requisition/create-batches": {
      "post": {
        "tags": [
          "Manufacturer Requisition Controller"
        ],
        "summary": "Create production batches",
        "description": "Creates production batches for the specified parts and quantities. Idempotent: parts whose work order is already in production are skipped",
        "operationId": "createBatchesLegacy_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ScheduleBatchesDto"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully created production batches",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BatchBalanceDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to create production batches",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/part-specifications/{specId}/routing-templates": {
      "get": {
        "tags": [
          "Manufacturer Routing Template Controller"
        ],
        "operationId": "list",
        "parameters": [
          {
            "name": "specId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoutingTemplateDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Manufacturer Routing Template Controller"
        ],
        "operationId": "create",
        "parameters": [
          {
            "name": "specId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoutingTemplateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RoutingTemplateDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/part-specification": {
      "get": {
        "tags": [
          "Manufacturer Part Specification Controller"
        ],
        "summary": "Get part specifications with filtering",
        "description": "Retrieves a paginated list of part specifications with optional filtering and search",
        "operationId": "get_1",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "filter specification",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "required": false,
            "schema": {
              "type": "array",
              "default": [
                "createdAt,DESC"
              ],
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Optional search term",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerOrganisationId",
            "in": "query",
            "description": "Optional customer organisation. Restricts results to specifications whose part revision is claimed by that customer organisation.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved part specifications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Paginated"
                }
              }
            }
          },
          "400": {
            "description": "Invalid filter specification (error code: INVALID_FILTER)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Manufacturer Part Specification Controller"
        ],
        "summary": "Create a part specification",
        "description": "Creates a part specification from a part revision and a set of manufacturing parameters. If a part specification with the same manufacturing parameters already exists for the part revision, it is returned instead of creating a duplicate.",
        "operationId": "create_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePartSpecificationDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Part specification created or existing part specification returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartSpecificationDto"
                }
              }
            }
          },
          "400": {
            "description": "Post-processing selection is invalid (error codes: POST_PROCESSING_MATERIAL_INCOMPATIBLE, POST_PROCESSING_MUTUALLY_EXCLUSIVE)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - operator not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "A referenced entity was not found (error codes: PART_REVISION_NOT_FOUND, PROCESS_PRICES_NOT_FOUND, MATERIAL_NOT_FOUND, COLOR_NOT_FOUND, INFILL_NOT_FOUND, PRECISION_PRICES_NOT_FOUND, POST_PROCESSING_NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/part-specification/bulk": {
      "post": {
        "tags": [
          "Manufacturer Part Specification Controller"
        ],
        "summary": "Get part specifications by IDs",
        "description": "Retrieves part specifications by a list of unique identifiers",
        "operationId": "getByIds",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "Set of part specification IDs to retrieve",
                "items": {
                  "type": "string",
                  "format": "uuid"
                },
                "uniqueItems": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Part specifications retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PartSpecificationDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - operator not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/part-revision/recognize": {
      "post": {
        "tags": [
          "Manufacturer Part Revision Controller"
        ],
        "summary": "Recognize a single part from a camera image",
        "description": "Analyses an image and returns the top-N most visually similar part revisions. This is a simpler, 'raw' alternative to the /detect-and-embed endpoint",
        "operationId": "recognizeByImage",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Maximum number of results to return (1-100)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "maximum": 100,
              "minimum": 1
            },
            "example": 5
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Top-N matching part revisions with their similarity scores",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Empty or invalid image body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - operator not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/part-revision/detect-and-embed": {
      "post": {
        "tags": [
          "Manufacturer Part Revision Controller"
        ],
        "summary": "Detect parts in an image and find similar part revisions per detection",
        "description": "Detect parts in the image and, for each detected part, returns the top-N visually similar part revisions. Bounding boxes are in original-image pixel coordinates ([x, y, width, height]) so the consumer can overlay them on the uploaded image.",
        "operationId": "detectAndEmbed",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Maximum number of similar part revisions per detection (1-100)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "maximum": 100,
              "minimum": 1
            },
            "example": 10
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Per-detection bounding boxes with their top-N matching part revisions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartImageDetectionResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Empty or invalid image body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - operator not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/part-revision/bulk": {
      "post": {
        "tags": [
          "Manufacturer Part Revision Controller"
        ],
        "summary": "Get multiple part revisions by IDs",
        "description": "Retrieves multiple part revisions by their IDs",
        "operationId": "getBulk",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "Set of part revision IDs to retrieve",
                "items": {
                  "type": "string",
                  "format": "uuid"
                },
                "uniqueItems": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Part revisions retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PartRevisionDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - operator not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/organisation/{organisationId}/metadata": {
      "post": {
        "tags": [
          "Manufacturer Customer Organisation Controller"
        ],
        "summary": "Add metadata to a customer organisation",
        "description": "Adds a new metadata entry (key/value pair) to a customer organisation. Keys must be unique per organisation.",
        "operationId": "addMetadata",
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "ID of the organisation to add metadata to",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerOrganisationMetadataDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Metadata added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerOrganisationMetadataDto"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Metadata key already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/order": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Retrieve orders",
        "description": "Retrieves a paginated list of orders with optional filtering and search",
        "operationId": "get_2",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "RSQL query string for filtering (e.g. paymentStatus=in=(PAID,UNPAID);price>10)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "required": false,
            "schema": {
              "type": "array",
              "default": [
                "createdAt,DESC"
              ],
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Optional search term",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved orders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Paginated"
                }
              }
            }
          },
          "400": {
            "description": "Invalid filter specification",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create an order",
        "description": "Creates a new order with the provided details",
        "operationId": "create_2",
        "parameters": [
          {
            "name": "threadId",
            "in": "query",
            "description": "ID of the thread to associate with the order",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "customerOrganisationId",
            "in": "query",
            "description": "ID of the customer organisation to associated with the order",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Whether to create an order, quote, or internal draft",
            "required": false,
            "schema": {
              "type": "string",
              "default": "QUOTE",
              "enum": [
                "QUOTE",
                "ORDER",
                "DRAFT"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Order successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOrderResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid order data or creation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing operator context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/order/{orderId}/shipments": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "List shipments on an order",
        "description": "Returns every shipment currently attached to the order, including parcel allocations and tracking where present.",
        "operationId": "list_1",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID of the order to list shipments for",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Shipments retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShipmentDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing operator context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Shipments"
        ],
        "summary": "Create a shipment",
        "description": "Creates a PREPARED courier or collection shipment on the order. Courier shipments require a destination address snapshot. Pass `release=true` to release immediately after create.",
        "operationId": "create_3",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID of the order to attach the shipment to",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          },
          {
            "name": "release",
            "in": "query",
            "description": "If true, the shipment is created in RELEASED status",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CollectionShipmentDto"
                  },
                  {
                    "$ref": "#/components/schemas/CourierShipmentDto"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Shipment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid shipment; error codes: SHIPMENT_QUOTE_FORBIDDEN, SHIPMENT_ADDRESS_REQUIRED, SHIPMENT_PACKING_INVALID, SHIPMENT_OVER_ALLOCATED, SHIPMENT_INCOTERM_INVALID, SHIPMENT_TYPE_INVALID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing operator context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Order not found; error code: ORDER_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/order/{orderId}/shipments/{shipmentId}/release": {
      "post": {
        "tags": [
          "Shipments"
        ],
        "summary": "Release a prepared shipment",
        "description": "Moves a prepared shipment to released.",
        "operationId": "release",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID of the order the shipment belongs to",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          },
          {
            "name": "shipmentId",
            "in": "path",
            "description": "ID of the prepared shipment to release",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment released successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentDto"
                }
              }
            }
          },
          "400": {
            "description": "Shipment is not PREPARED; error code: SHIPMENT_STATUS_INVALID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing operator context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Shipment not found; error code: SHIPMENT_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/order/{orderId}/shipments/{shipmentId}/fulfil": {
      "post": {
        "tags": [
          "Shipments"
        ],
        "summary": "Fulfil a released shipment",
        "description": "Moves a RELEASED shipment to FULFILLED. Courier shipments must already have tracking.",
        "operationId": "fulfil",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID of the order the shipment belongs to",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          },
          {
            "name": "shipmentId",
            "in": "path",
            "description": "ID of the released shipment to fulfil",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment fulfilled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentDto"
                }
              }
            }
          },
          "400": {
            "description": "Shipment cannot be fulfilled; error codes: SHIPMENT_STATUS_INVALID, SHIPMENT_TRACKING_REQUIRED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing operator context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Shipment not found; error code: SHIPMENT_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/order/{orderId}/shipments/{shipmentId}/documents": {
      "post": {
        "tags": [
          "Shipments"
        ],
        "summary": "Attach a shipment document",
        "description": "Attaches a file to a shipment. Files larger than 25 MB are rejected.",
        "operationId": "uploadDocument",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID of the order the shipment belongs to",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          },
          {
            "name": "shipmentId",
            "in": "path",
            "description": "ID of the shipment to attach the document to",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "File to upload"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentDocumentDto"
                }
              }
            }
          },
          "400": {
            "description": "File exceeds 25 MB; error code: SHIPMENT_DOCUMENT_TOO_LARGE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing operator context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Shipment not found; error code: SHIPMENT_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/order/{orderId}/payment/confirm": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Accept an offline payment obligation",
        "description": "Converts a quote to an accepted order without marking its payment as paid",
        "operationId": "acceptOfflinePayment",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "ID of the order to confirm payment for",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          },
          {
            "name": "purchaseOrderNumber",
            "in": "query",
            "description": "Purchase order number",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "message",
            "in": "query",
            "description": "Message",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Purchase order PDF file"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Offline payment obligation accepted",
            "content": {
              "text/plain": {}
            }
          },
          "400": {
            "description": "Failed to confirm payment",
            "content": {
              "text/plain": {}
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/operator/address": {
      "get": {
        "tags": [
          "Operator Addresses"
        ],
        "summary": "List operator addresses",
        "description": "Retrieves all non-deleted addresses for the current operator",
        "operationId": "list_2",
        "responses": {
          "200": {
            "description": "Addresses retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddressDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Operator Addresses"
        ],
        "summary": "Create a new operator address",
        "description": "Creates a new ship-from / facility address for the current operator",
        "operationId": "create_4",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOperatorAddressDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Address created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid address data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/customer": {
      "post": {
        "tags": [
          "Manufacturer Customer Controller"
        ],
        "summary": "Create a new customer",
        "description": "Creates a new customer record",
        "operationId": "createCustomer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Customer created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid customer data (error code INVALID_CUSTOMER_PAYLOAD)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing operator context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Customer with the same email or phone number, or an organisation with the same name, already exists (error codes CUSTOMER_VALIDATION_ERROR, CUSTOMER_ORGANISATION_DUPLICATE_NAME)",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/customer/organisation/{organisationId}": {
      "post": {
        "tags": [
          "Manufacturer Customer Controller"
        ],
        "summary": "Create a customer in an organization",
        "description": "Creates a new customer that belongs to a specific organization",
        "operationId": "createCustomerInOrganisation",
        "parameters": [
          {
            "name": "organisationId",
            "in": "path",
            "description": "ID of the organization to add the customer to",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Customer created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid customer data (error code INVALID_CUSTOMER_PAYLOAD)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing operator context",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Customer organisation not found (error code CUSTOMER_ORGANISATION_NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/catalog": {
      "post": {
        "tags": [
          "Manufacturer Catalog Controller"
        ],
        "summary": "Create catalog items",
        "description": "Creates one or more catalog items by creating part specifications and customer article references. If a part specification with the same manufacturing parameters already exists, it will be reused. The catalog items will automatically be visible in the customer catalog.",
        "operationId": "createCatalogItems",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "List of catalog items to create",
                "items": {
                  "$ref": "#/components/schemas/CreateCatalogItemDto"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Catalog items successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PartSpecificationDto"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - operator not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Part revision or process prices not found (error codes PART_REVISION_NOT_FOUND, PROCESS_PRICES_NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/camspec/export": {
      "post": {
        "tags": [
          "Manufacturer CAMSPEC Controller"
        ],
        "summary": "Export CAMSPEC archive for requisitions",
        "description": "Creates and downloads a CAMSPEC archive (.camspec file) containing manufacturing constraints and CAD files for the specified requisitions",
        "operationId": "exportCamspec",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CamspecExportRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "CAMSPEC archive created successfully",
            "content": {
              "application/zip": {}
            }
          },
          "400": {
            "description": "Invalid request: CAMSPEC_ENTRIES_EMPTY, CAMSPEC_PRIORITY_INVALID, CAMSPEC_QUANTITY_INVALID, INVALID_CAMSPEC_REQUEST, or other validation errors",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StreamingResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "One or more requisitions not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StreamingResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/camspec/download": {
      "post": {
        "tags": [
          "Manufacturer CAMSPEC Controller"
        ],
        "summary": "Download CAMSPEC archive for requisitions without tracking a work order",
        "description": "Creates and downloads a CAMSPEC archive (.camspec file) containing manufacturing constraints and CAD files for the specified requisitions, without persisting any manifest mapping",
        "operationId": "downloadCamspec",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CamspecDownloadRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "CAMSPEC archive created successfully",
            "content": {
              "application/zip": {}
            }
          },
          "400": {
            "description": "Invalid request: CAMSPEC_ENTRIES_EMPTY, CAMSPEC_PRIORITY_INVALID, CAMSPEC_QUANTITY_INVALID, INVALID_CAMSPEC_REQUEST, or other validation errors",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StreamingResponseBody"
                }
              }
            }
          },
          "404": {
            "description": "One or more requisitions not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StreamingResponseBody"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/assemblies": {
      "get": {
        "tags": [
          "Manufacturer Assembly Controller"
        ],
        "summary": "List assemblies",
        "description": "Retrieves a paginated list of assemblies with optional filtering and search",
        "operationId": "listAssemblies",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "filter specification",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "required": false,
            "schema": {
              "type": "array",
              "default": [
                "createdAt,DESC"
              ],
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Optional search term",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved assemblies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Paginated"
                }
              }
            }
          },
          "400": {
            "description": "Invalid filter specification (error code: INVALID_FILTER)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Manufacturer Assembly Controller"
        ],
        "summary": "Create assembly",
        "description": "Creates a new assembly with items",
        "operationId": "createAssembly",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAssemblyDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Assembly successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssemblyDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - operator not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Part specification not found (error code PART_SPECIFICATION_NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/assemblies/{id}/catalog": {
      "post": {
        "tags": [
          "Manufacturer Assembly Controller"
        ],
        "summary": "Add assembly to catalog",
        "description": "Adds an assembly to a customer's catalog",
        "operationId": "addAssemblyToCatalog",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Assembly ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "customerOrganisationId",
            "in": "query",
            "description": "Customer organisation ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "reference",
            "in": "query",
            "description": "Customer reference",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assembly successfully added to catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssemblyDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Assembly or customer organisation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/address/create": {
      "post": {
        "tags": [
          "Addresses"
        ],
        "summary": "Create a new address",
        "description": "Creates a new address using the provided details",
        "operationId": "create_5",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAddressDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Address created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid address data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/work-orders/{id}/routing": {
      "patch": {
        "tags": [
          "Manufacturer Work Order Controller"
        ],
        "operationId": "updateRouting",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWorkOrderRoutingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrderDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/work-orders/{id}/dates": {
      "patch": {
        "tags": [
          "Manufacturer Work Order Controller"
        ],
        "summary": "Update a work order's start and due dates",
        "description": "Sets the start date (when the work order enters the backlog) and the due date (explicit deadline; null falls back to the order's expected dispatch date).",
        "operationId": "updateDates",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWorkOrderDatesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated the work order dates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkOrderDto"
                }
              }
            }
          },
          "404": {
            "description": "Work order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "The work order has started; a future start date would hide partially completed parts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/manufacturer/v1/routing-templates/{id}": {
      "delete": {
        "tags": [
          "Manufacturer Routing Template Controller"
        ],
        "operationId": "delete_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "tags": [
          "Manufacturer Routing Template Controller"
        ],
        "operationId": "patch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRoutingTemplateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RoutingTemplateDto"
                }
              }
            }
[...]
